.Container {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* font-family: sans-serif; */
}

.FormContainer {
  width: 35rem;
  height: auto;
  display: flex;
  flex-direction: column;
  border: none;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  border-radius: 0.5rem;
  background-color: white;
  padding: 32px;
  margin-top: 32px;
  margin-bottom: 32px;
  text-align: left;
}

.InputDiv {
  margin-top: 8px;
}

.CheckBoxDiv {
  width: 100%;
  margin-top: 1rem;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.8);
}

.CheckBoxLabel {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-align: start;
  font-size: 1rem;
}

.CheckBox {
  margin: 0 8px 0 0px;
  width: 15px;
  height: 15px;
}

.FormTitle {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 0;
}

.Footer {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-top: 1rem;
}
