.JobsDashboard {
  padding: 24px;
}

.Dashboard {
  background-color: white;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  overflow: hidden;
}

.Header {
  display: flex;
  width: 100%;
  border-bottom: rgba(0, 0, 0, 0.1) solid 1px;
}

.HeaderSection1 {
  width: 20%;
  box-sizing: border-box;
}

.HeaderSection2 {
  width: 80%;
  box-sizing: border-box;
}

@media (max-width: 768px) {
  .HeaderSection1 {
    display: none;
  }

  .HeaderSection2 {
    width: 100%;
  }
}

@media (max-width: 576px) {
  .JobsDashboard {
    padding: 0;
  }
}
