.Container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 32px 0;
}

.ContainerFlex {
  width: 40rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: none;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  border-radius: 0.5rem;
  background-color: white;
  /* font-family: sans-serif; */
  font-size: 0.8rem;
  font-weight: bold;
  padding: 0.5rem 3rem 2rem 3rem;
}

.FormTitle {
  font-size: 1.4rem;
  color: black;
  align-self: flex-start;
}

.FormControl {
  width: 100%;
}

.Content {
  width: 100%;
  display: flex;
  flex-direction: column;
  border-top: solid 0.1rem rgba(0, 0, 0, 0.7);
}

.ContentWrap {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.ContentWrap > * {
  width: 45%;
}

.ContentFull {
  margin-top: 24px;
}

.SpecialReqDiv {
  display: flex;
  justify-content: space-between;
}

.SpecialRequirement {
  text-align: left;
  color: rgba(0, 0, 0, 0.54);
  /* font-family: 'Roboto'; */
  font-weight: 400;
  padding: 0;
  margin: 0;
  font-size: 1rem;
  line-height: 1.1876em;
}

.AutoAddDiv {
  margin-top: 10px;
}

.AddInput {
  width: 15%;
}

.SpecialTips {
  text-align: left;
  color: rgba(0, 0, 0, 0.54);
  /* font-family: 'Roboto'; */
  font-weight: 400;
  margin: 0;
  font-size: 0.8rem;
  line-height: 1.5rem;
}

.ContentLeft {
  align-items: center;
  width: 95%;
  padding: 0 14px;
}

.LabelName {
  align-self: flex-start;
  margin-bottom: 0.2rem;
  font-size: 0.9rem;
  font-weight: bold;
  color: rgba(58, 81, 153, 1);
}

.CheckBoxDiv {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 10px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.8);
}

.CheckBoxLabel {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-align: start;
  font-size: 1rem;
}

.CheckBox {
  margin: 0 8px 0 15px;
  width: 15px;
  height: 15px;
}

.AdditionalContentContainer {
  width: 95%;
  display: flex;
  flex-flow: column;
  margin: 1.2rem auto;
}

.AdditionalContentHeader {
  margin: 0;
  align-self: start;
}

.AdditionalContent {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.AdditionalContent > * {
  width: 45%;
}

.RangeAge {
  margin: 24px 0 0 0;
}

.AgeLabel {
  font-size: 1rem;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.54);
  margin: 0;
}

.SliderDiv {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.SliderLabel {
  margin: 0;
  font-size: 1rem;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.54);
}

.Slider {
  width: 80%;
}

.DurationContent {
  width: 100%;
  display: flex;
  justify-content: space-between;
  color: rgba(0, 0, 0, 0.5);
}

.DurationContent > * {
  width: 45%;
}

.SlotInput {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 1rem;
  width: 50%;
}

.SlotInput > div:nth-child(1) {
  width: 30%;
}

.SlotInput > span {
  height: 3rem;
  display: flex;
  align-items: center;
  margin-left: 6px;
  color: black;
}

.RemainingSlot {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 500;
  color: black;
}

.SlotAddButton {
  background: rgba(58, 82, 153, 0.1);
  border-radius: 3px;
  border: solid 0.1px rgb(0, 0, 0, 0.2);
}

.RemainingSlot h3 {
  margin: 0;
}

.AdditionalContentContainer a {
  text-decoration: none;
}

@media (max-width: 768px) {
  .EditCompanyBrief {
    margin-top: 0;
  }

  .Container {
    padding: 32px 28px;
  }
}

@media (max-width: 576px) {
  .EditCompanyBrief {
    margin-top: 0;
  }

  .Container {
    padding: 0;
  }

  .ContainerFlex {
    width: 100vh;
    padding: 0px 16px 10px 16px;
    border-radius: 0;
  }

  .ContentWrap {
    flex-direction: column;
    margin-top: 0;
  }

  .ContentWrap > * {
    width: 100%;
  }

  .AdditionalContentContainer {
    width: 95%;
  }

  .AdditionalContent {
    flex-direction: column;
  }

  .AdditionalContent > * {
    width: 100%;
  }
}

@media (max-width: 440px) {
  .ContainerFlex {
    width: 50vh;
    padding: 6px 16px;
  }

  .Container {
    padding: 0;
    padding-top: 0;
  }

  .ContainerFlex {
    border-radius: 0;
  }
}
