.CompanyJobAds {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  & > * {
    width: 49%;
  }
}

@media screen and (max-width: 1200px) {
  .CompanyJobAds {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    & > * {
      width: 100%;
    }
  }
}
