.CompanyProfileContainer {
  width: 100%;
  max-width: 1000px;
  padding-right: 20px;

  & > * {
    width: 100%;
  }
  section {
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 768px) {
  .CompanyProfileContainer {
    padding: 0;
  }
}
