$primaryColor: #f79f35;
.EditPICContainer {
  & > * {
    margin-bottom: 10px;
  }
  .SubmitButtonContainer {
    width: 100%;
    max-width: 300px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: auto;
    margin-top: 20px;
    button {
      background-color: $primaryColor;
      border-radius: 5px;
      padding: 5px;
      border: none;
      color: #fff;
      width: 100%;
      max-width: 80px;
      min-height: 30px;
      &:hover {
        cursor: pointer;
      }
      &:disabled {
        cursor: not-allowed;
        background-color: #8d8d8d;
      }
      &:nth-child(1) {
        background-color: #fff;
        border: 1px solid $primaryColor;
        color: $primaryColor;
      }
    }
  }
}
