.QueryBar {
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding: 0.5rem 0;
  /* border: black solid 1px; */
}

.SearchContainer {
  width: 100%;
  padding: 0 16px;
  display: flex;
}

.SearchForm {
  width: 50%;
  display: flex;
}

.ButtonContainer {
  width: 50%;
  align-self: center;
  display: flex;
}

@media (max-width: 768px) {
  .SearchContainer {
    width: 60%;
  }
}

@media (max-width: 400px) {
  .QueryBar {
    padding: 8px 0 0 0;
  }

  .SearchForm {
    margin-right: 0;
  }

  .SearchContainer {
    width: 100%;
  }

  .ButtonContainer {
    width: 40%;
  }
}
