.Container {
  box-sizing: border-box;
  padding: 8px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* height: 494px; */

.TableFilter {
  /* border: black 1px solid; */
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 16px;
}

.TableFilter > * {
  /* border: black 1px solid; */
  box-sizing: border-box;
  width: 30%;
  padding: 0 8px;
}

.Table {
  width: 100%;
  height: 400px;
  margin-bottom: 16px;
}

.Header {
  display: flex;
  width: 100%;
  font-size: 0.8rem;
  color: rgba(0, 0, 0, 0.5);
}

.Header > * {
  box-sizing: border-box;
}

.HeaderMain {
  width: 64%;
  padding: 8px;
  text-align: left;
}

.HeaderSlot {
  width: 12%;
  padding: 8px;
}

.HeaderApplied {
  width: 12%;
  padding: 8px;
}

.HeaderTime {
  width: 12%;
  padding: 8px;
}

.Content {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.Content > * {
  box-sizing: border-box;
}

.HistoryCard {
  border-bottom: solid 1px rgba(0, 0, 0, 0.3);
  margin: 4px;
  display: flex;
  padding: 4px;
}

.CardMain {
  width: 64%;
  text-align: left;
}

.CardSlot {
  width: 12%;
  font-size: 0.8rem;
}
.CardApplied {
  width: 12%;
  font-size: 0.8rem;
}
.CardTime {
  width: 12%;
  font-size: 0.8rem;
}
