.Container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 24px;
}

.ContainerFlex {
  width: 40rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  border: none;
  border-radius: 1rem;
  background-color: white;
  font-family: sans-serif;
  padding: 0rem 2rem 1rem 2rem;
  margin-top: 2rem;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.FormTitle {
  font-size: 1.4rem;
  font-weight: bold;
  margin-bottom: 0;
}

.Content {
  width: 100%;
}

.ContentTop {
  display: flex;
  justify-content: space-between;
}

.ContentLeft {
  width: 100%;
  padding: 0 2rem 0 0;
}

.ContentWrap {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.ContentWrap > * {
  width: 45%;
}

.ContentBottom {
  display: flex;
  flex-direction: column;
  padding: 0 0 1rem 0;
}

.ChangeSign {
  margin-top: 1.5rem;
  border: none;
  color: blue;
  background-color: transparent;
  font-size: 0.8rem;
  font-weight: bold;
  cursor: pointer;
  outline: none;
}

.Sign {
  color: black;
  font-size: 0.8rem;
  font-weight: bold;
  margin-bottom: -0.5rem;
}

.Text {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-size: 0.7rem;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.54);
  line-height: 1;
  letter-spacing: 0.00938em;
  text-align: left;
}

.RadioHolder {
  display: flex;
  justify-content: flex-start;
}

.RadioButton {
  align-items: center;
}

@media (max-width: 768px) {
  .ContainerFlex {
    width: 80vw;
  }
}

@media (max-width: 576px) {
  .Container {
    padding: 0;
    margin: 0;
  }

  .ContainerFlex {
    width: 90vw;
    padding: 0px 16px 10px 16px;
    margin-top: 0rem;
    border-radius: 0;
  }

  .ProfilePicture {
    align-self: center;
    align-items: center;
    margin-bottom: 20px;
  }

  .ContentPhone {
    display: flex;
    flex-direction: column;
  }

  .ContentWrap {
    flex-direction: column;
  }

  .ContentWrap > * {
    width: 100%;
  }

  .ContentBottom {
    padding-left: 0;
    text-align: left;
    line-height: 20px;
  }
}

@media (max-width: 440px) {
  .Container {
    padding-top: 0;
  }

  .ContainerFlex {
    border-radius: 0;
  }
}
