.Slider {
  width: 100%;
  height: calc(100vh - 64px);
  box-sizing: border-box;
  display: flex;
  align-items: center;
  position: absolute;
  overflow: hidden;
  z-index: -1;
  background-color: black;
}

.Slide {
  min-width: 100%;
  height: 100vh;
  transition: 0.5s ease-in-out;
}

@media (max-width: 992px) {
  .Slider {
    width: 100%;
    height: 73%;
  }
}

@media (max-width: 768px) {
  .Slider {
    width: 100%;
    height: 50%;
  }
}

@media (max-width: 576px) {
  .Slider {
    width: 100%;
    height: 70%;
  }
}
