.Container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.ContainerFlex {
  width: 20rem;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 0.1rem solid grey;
  border-radius: 1rem;
  padding-bottom: 2rem;
  background-color: rgb(215, 226, 255);
  font-family: sans-serif;
}

.FormTitle {
  font-size: 1.4rem;
  font-weight: bold;
}

.LabelName {
  align-self: flex-start;
  margin-left: 1rem;
  margin-bottom: 0.5rem;
  font-size: 1rem;
}

.Input {
  width: 18rem;
  height: 2rem;
  border: none;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
}

.SubmitButton {
  margin-top: 1rem;
  width: 18rem;
  height: 3rem;
  border: none;
  border-radius: 0.5rem;
  color: white;
  background-color: rgba(58, 81, 153, 1);
  font-family: sans-serif;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.5s;
}

.SubmitButton span {
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.SubmitButton span:after {
  content: "\2192";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -2rem;
  transition: 0.5s;
}

.SubmitButton:hover span {
  padding-right: 1.5rem;
}

.SubmitButton:hover span:after {
  opacity: 1;
  right: 0;
}

.ChangeSign {
  margin-top: 1.5rem;
  border: none;
  color: blue;
  background-color: transparent;
  font-size: 0.8rem;
  font-weight: bold;
  cursor: pointer;
}

.sign {
  color: black;
  font-size: 0.8rem;
  font-weight: bold;
  margin-bottom: -0.5rem;
}

.ApplicantRegister {
  border: solid 0.1rem rgba(0, 0, 0, 0.5);
  border-radius: 0.5rem;
  background-color: rgba(47, 46, 51, 1);
  color: white;
  align-self: flex-start;
  margin-left: 1rem;
  font-size: 0.8rem;
  font-weight: bold;
  opacity: 0.6;
  transition: 0.3s;
  margin-bottom: 1rem;
  cursor: pointer;
}

.ApplicantRegister:hover {
  opacity: 0.9;
}
