.Container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.ContainerFlex {
  width: 22rem;
  height: auto;
  display: flex;
  flex-direction: column;
  border: none;
  border-radius: 1rem;
  background-color: white;
  /* font-family: sans-serif; */
  overflow: hidden;
}

.Header {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0rem 1.5rem;
  margin-top: -0.4rem;
}

.FormTitle {
  margin-bottom: 16px;
  font-size: 1.7rem;
  font-weight: 700;
  align-self: flex-start;
}

.Content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0 1.5rem 1rem 1.5rem;
}

.InputBox {
  height: 65px;
  margin-bottom: 8px;
}

.ChangeSign {
  margin-top: 1.5rem;
  border: none;
  color: blue;
  background-color: transparent;
  font-size: 0.8rem;
  font-weight: 700;
  cursor: pointer;
  outline: none;
}

.Sign {
  color: black;
  font-size: 0.8rem;
}

.Footer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: rgb(245, 245, 245);
  padding: 0.5rem 0;
}

.Footer button {
  font-size: 1rem;
  padding: 0;
  align-self: flex-end;
  background-color: transparent;
  margin-right: 1.5rem;
  font-weight: 700;
}
