.Container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Container a {
  text-decoration: none;
  color: inherit;
}

.CardContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgb(255, 255, 255);
  padding: 1rem;
  margin: 2rem 0;
  width: 72.6%;
  border-radius: 1rem;
  box-shadow: 0px 2px 2px 1px rgba(0, 0, 0, 0.3),
    0px 1px 1px 0px rgba(0, 0, 0, 0.24), 0px 1px 3px 0px rgba(0, 0, 0, 0.22);
}

.DivContainer {
  display: flex;
  justify-content: 'flex-start';
  flex-wrap: wrap;
}

.CardHolder {
  box-sizing: border-box;
  width: 25%;
  height: 310px;
  padding: 0.5rem 0.56rem;
}

.JobCard {
  height: 280px;
  padding: 0 1rem 0.5rem 1rem;
  border-radius: 0.2rem;
  border: solid 0.05rem rgba(0, 0, 0, 0.2);
  text-align: left;
  box-shadow: 0px 1px 1px 0.3px rgba(0, 0, 0, 0.2),
    0px 0px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

.JobCard:hover {
  border: solid 0.05rem rgba(0, 0, 0, 0.7);
}

.CardHeader {
  display: flex;
  justify-content: space-between;
  margin-top: 1em;
  width: 100%;
}

.CardHeader button {
  outline: none;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  z-index: 10;
}

.CardHeader p {
  margin-top: 0;
  margin-bottom: 0;
}

.CardBody {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 0.9rem;
  margin-bottom: 1rem;
}

.CardFooter {
  border-top: solid 0.05rem rgba(0, 0, 0, 0.2);
  line-height: 0;
}

.ExpDate {
  color: rgba(0, 0, 0, 0.5);
  font-size: 0.8rem;
  margin-top: 1rem;
}

.CardAddress {
  color: rgba(0, 0, 0, 0.5);
  margin-top: -1rem;
  font-size: 0.8rem;
  height: 1.7rem;
  overflow: hidden;
}

.CardRecipient {
  font-size: 0.8rem;
  overflow: hidden;
}

.CardApplicant {
  font-size: 3rem;
  margin-bottom: -0.5rem;
  margin-top: 1rem;
  overflow: hidden;
}

.EmptyText {
  font-size: 1.5rem;
  width: 100%;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  position: absolute;
  top: 40%;
  font-weight: bold;
}

@media (max-width: 992px) {
  .CardHolder {
    width: 33.33%;
  }
}

@media (max-width: 768px) {
  .CardHolder {
    width: 50%;
  }
}

@media (max-width: 576px) {
  .CardHolder {
    width: 100%;
    padding: 10px 6px 32px 6px;
  }
}
