.Container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.FilterContainer {
  width: 100vw;
  display: flex;
  padding: 1rem 1rem 0 1rem;
  justify-content: center;
}

.CheckboxWarper {
  width: 80%;
  display: flex;
}

.CheckboxCriteria {
  display: flex;
  flex-direction: column;
  line-height: 0.3rem;
  padding: 0 8px;
  width: 50%;
  box-sizing: border-box;
  align-items: center;
}

.UnivDiv {
  width: 100%;
}

.FilterLabel {
  font-weight: 500;
}

.FlexWrap {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  height: 6rem;
  margin-right: 4rem;
}

.CheckboxHolder {
  display: flex;
  font-size: 0.9rem;
  align-items: center;
  margin-bottom: -0.5rem;
  margin-right: 1rem;
}

.InputHolder {
  display: flex;
  font-size: 0.9rem;
  color: gray;
}

.OrderContainer {
  margin-top: 2rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: white;
  margin-bottom: 2rem;
  box-shadow: 0px 2px 2px 1px rgba(0, 0, 0, 0.3),
    0px 1px 1px 0px rgba(0, 0, 0, 0.24), 0px 1px 3px 0px rgba(0, 0, 0, 0.22);
  height: 31.7rem;
  overflow: hidden;
}

.CriteriaContainer {
  width: 22rem;
  display: flex;
  flex-direction: column;
  text-align: left;
  background-color: rgba(58, 81, 153, 1);
  color: white;
  padding: 1rem 4rem 1rem 2rem;
  font-weight: 300;
}

.CriteriaTop {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.CriteriaHeader {
  font-weight: 500;
  letter-spacing: 0.3rem;
  text-decoration: underline;
  margin-bottom: -0.5rem;
}

.CriteriaHolder {
  height: 3rem;
  display: flex;
  justify-content: space-between;
  border-bottom: solid 0.1rem rgba(240, 240, 240, 0.1);
  margin-top: -0.15rem;
}

.CriteriaFooter {
  border-top: solid 0.15rem rgba(0, 0, 0, 0.3);
  color: rgb(251, 255, 1, 1);
  font-weight: 500;
}

.ApplicantSearch {
  width: 100%;
}

.ApplicantSearch table {
  width: 100%;
  background-color: #d7e2ff;
  border-collapse: collapse;
  font-size: 0.9rem;
}

.ApplicantSearch table th {
  font-weight: normal;
  border-bottom: solid 0.05rem rgba(128, 128, 128, 0.5);
  padding: 0.5rem 1rem 0.5rem 1rem;
}

.TableColumn {
  background-color: white;
}

.TableColumn tr:hover {
  background-color: rgb(220, 220, 220, 0.4);
}

.EducationField {
  display: flex;
  margin-top: -0.5rem;
  margin-bottom: -0.5rem;
  justify-content: center;
}

@media (max-width: 992px) {
  .OrderContainer {
    flex-direction: column;
    height: auto;
    width: 90%;
    border-radius: 5px;
  }

  .CriteriaContainer {
    width: auto;
    padding: 1rem 2rem;
  }

  .FilterContainer {
    width: 80vw;
  }
}

@media (max-width: 768px) {
  .CheckboxCriteria {
    line-height: 16px;
  }
  .FlexWrap {
    height: auto;
    margin: 0;
  }
}

@media (max-width: 576px) {
  .OrderContainer {
    width: 100%;
    border-radius: 0;
  }

  .FilterContainer {
    padding: 0;
    height: fit-content;
  }

  .ApplicantSearch {
    width: 100vw;
    overflow-y: hidden;
  }
}

@media (max-width: 400px) {
  .FilterContainer {
    flex-direction: column;
  }

  .CheckboxCriteria {
    width: 50%;
    align-items: center;
  }

  .CheckboxWarper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
