$primaryColor: #f79f35;

.BiodataContainer {
  width: 100%;
  padding: 0 10px 20px;
  box-sizing: border-box;
  .ContactInformations {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 30px;
    & > * {
      width: 47%;
      margin-bottom: 10px;
    }
    & > *:nth-child(3) {
      width: 100%;
    }
    .GenderContainer {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      margin-bottom: 10px;
      & > * {
        margin: 0;
      }
      .GenderLabel {
        margin-bottom: 5px;
      }
      .GenderOptions {
        width: 50%;
        border: 2px solid $primaryColor;
        outline: none;
        border-radius: 5px;
        padding: 5px;
        min-height: 30px;
        box-sizing: border-box;
      }
    }
  }

  .AddressContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    border-top: 1px solid #000;
    padding-top: 20px;
    margin-bottom: 40px;
    & > * {
      width: 47%;
      margin-bottom: 10px;
    }
    .RegionContainer {
      width: 47%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      p {
        margin: 0;
        margin-bottom: 5px;
        span {
          font-size: 10px;
          font-style: italic;
        }
      }
      & > *:nth-child(2) {
        width: 100%;
      }
    }
  }

  .JobCriteria {
    margin-bottom: 10px;
    .JobInterestContainer {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      margin-bottom: 10px;
      & > *:nth-child(2) {
        width: 100%;
      }
      p {
        margin: 0;
        margin-bottom: 5px;
        span {
          font-size: 10px;
          font-style: italic;
        }
      }
    }
    & > *:nth-child(2) {
      width: 47%;
    }
  }
  .WorkingAvailability {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    & > * {
      margin-bottom: 10px;
    }
  }
  .SubmitButtonContainer {
    width: 100%;
    max-width: 300px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: auto;
    button {
      background-color: $primaryColor;
      border-radius: 5px;
      padding: 5px;
      border: none;
      color: #fff;
      width: 100%;
      max-width: 80px;
      min-height: 30px;
      &:hover {
        cursor: pointer;
      }
      &:disabled {
        cursor: not-allowed;
        background-color: #8d8d8d;
      }
      &:nth-child(1) {
        background-color: #fff;
        border: 1px solid $primaryColor;
        color: $primaryColor;
      }
    }
  }
}
