.FlexContainer {
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  background-color: rgb(250, 250, 250);
}

.Container {
  display: flex;
  flex-direction: column;
  align-self: center;
  width: 80%;
}

.HeaderContainer {
  display: flex;
  justify-content: space-between;
}

.Header {
  align-self: flex-start;
}

.TableHolder {
  overflow-y: hidden;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  border-radius: 10px;
}

.Table {
  border-collapse: collapse;
  box-shadow: 0 0 15px rgb(0, 0, 0, 0.2);
  background-color: white;
  width: 100rem;
}

.Table th {
  padding: 1rem;
  text-align: left;
  font-weight: normal;
}

.Table tr {
  align-items: center;
  border-bottom: solid 1px rgba(0, 0, 0, 0.2);
}

Table tr:first-child th:first-child,
Table.Info tr:first-child td:first-child {
  border-top-left-radius: 6px;
}

Table tr:first-child th:last-child,
Table.Info tr:first-child td:last-child {
  border-top-right-radius: 6px;
}

Table tr:last-child td:last-child {
  border-bottom-right-radius: 6px;
}

.RowField th {
  background-color: #d7e2ff;
  font-weight: bold;
  background-color: rgba(58, 81, 153, 1);
  color: white;
}

.ColumnField {
  font-size: 0.85rem;
}

.RevenueContainer {
  margin-top: 2rem;
  display: flex;
  padding: 0.5rem;
  border-radius: 1rem;
  background-color: #d7e2ff;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  font-weight: bold;
}

.RevenueLabel {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-right: solid 0.1rem gray;
  padding-right: 4rem;
  margin-right: 2rem;
}

.Label {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.RevenueNumber {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-right: 4rem;
  margin-right: 2rem;
}
