.FlexContainer {
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  background-color: rgb(250, 250, 250);
}

.Container {
  display: flex;
  flex-direction: column;
  align-self: center;
  width: 80%;
}

.HeaderContainer {
  display: flex;
  justify-content: space-between;
}

.Header {
  align-self: flex-start;
}

.TableHolder {
  overflow-y: hidden;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.Table {
  width: 100rem;
  border-collapse: collapse;
}

.Table th {
  border-bottom: 0.05rem solid rgb(104, 102, 102, 0.3);
  padding-left: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  text-align: left;
  font-weight: normal;
}

.Table tr:nth-child(even) {
  background-color: #d7e2ff;
}

.Table tr:nth-child(odd) {
  background-color: white;
}

.RowField th {
  background-color: #d7e2ff;
  font-weight: bold;
}

.ColumnField {
  font-size: 0.85rem;
}

.RevenueContainer {
  margin-top: 2rem;
  display: flex;
  padding: 0.5rem;
  border-radius: 1rem;
  background-color: #d7e2ff;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  font-weight: bold;
}

.RevenueLabel {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-right: solid 0.1rem gray;
  padding-right: 4rem;
  margin-right: 2rem;
}

.Label {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.RevenueNumber {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-right: 4rem;
  margin-right: 2rem;
}
