.FlexContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 32px;
}

.Container {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
  width: 80%;
}

.HeaderContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
  width: 100%;
}

.Header {
  align-self: flex-start;
}

.DateLabel {
  margin: 0;
  text-align: left;
  color: rgba(0, 0, 0, 0.5);
  font-size: 0.8rem;
}

.TableHolder {
  overflow-y: hidden;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  border-radius: 10px;
  width: 100%;
  min-height: 362px;
}

.Table {
  border-collapse: collapse;
  box-shadow: 0 0 15px rgb(0, 0, 0, 0.2);
  background-color: white;
  width: 100rem;
}

.Table th {
  padding: 2px 8px;
  text-align: left;
  font-weight: normal;
}

.Table tr {
  align-items: center;
  border-bottom: solid 1px rgba(0, 0, 0, 0.2);
}

.RowField th {
  background-color: #d7e2ff;
  font-weight: bold;
  background-color: rgba(58, 81, 153, 1);
  color: white;
}

.ColumnField {
  font-size: 0.85rem;
}

.Pagination {
  display: flex;
  margin-top: 16px;
  justify-content: space-between;
  width: 80%;
}

.RevenueContainer {
  margin-top: 16px;
  padding: 0.5rem;
  border-radius: 1rem;
  background-color: #d7e2ff;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  width: 100%;
}

.DetailsDiv {
  display: flex;
  margin-top: 8px;
  justify-content: space-around;
  border-top: 1px dashed rgba(0, 0, 0, 0.4);
  padding-top: 4px;
}

.RevenueDiv {
  display: flex;
  font-weight: bold;
}

.RevenueLabel {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-right: solid 0.1rem gray;
  padding-right: 4rem;
  margin-right: 2rem;
}

.Label {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.RevenueNumber {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

@media (max-width: 768px) {
  .Container {
    width: 90%;
  }

  .Header {
    font-size: 1.5rem;
  }
}

@media (max-width: 576px) {
  .HeaderContainer {
    flex-direction: column;
    align-items: unset;
  }

  .DateFilter {
    margin-bottom: 8px;
  }

  .TableHolder {
    border-radius: 4px;
  }

  .Table th {
    padding: 8px;
    text-align: left;
    font-weight: normal;
  }
}
