.Container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.DownloadButton {
  display: flex;
  width: 60%;
  margin-top: 32px;
  justify-content: flex-end;
}

.InvoiceContainer {
  width: 60%;
  box-shadow: 0 0 0.2rem 0.1rem rgb(214, 214, 214);
  border-radius: 1rem;
  margin-top: 2rem;
  background-color: rgb(215, 226, 255);
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

.Id {
  width: 100%;
  border-radius: 1rem 1rem 0 0;
  background-color: rgba(58, 81, 153, 1);
  margin: 0rem;
  font-size: 1.2rem;
  color: white;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 2rem;
  text-align: left;
}

.Content {
  width: 90%;
  padding: 32px;
  display: flex;
  justify-content: space-between;
}

.CompanyDetail {
  text-align: left;
  color: rgba(0, 0, 0, 0.7);
  line-height: 1rem;
  width: 65%;
}

.Address {
  line-height: 1.2rem;
}

.InvoiceRight {
  text-align: right;
}

.InvoiceTitle {
  font-size: 1.5rem;
  font-weight: bold;
  letter-spacing: 0.4rem;
  margin-bottom: 0;
  margin-top: 1rem;
}

.InvoiceDetail {
  display: flex;
  text-align: right;
  color: rgba(0, 0, 0, 0.7);
  line-height: 1rem;
}

.DetailLabel {
  margin-right: 2rem;
}

.CompanyName {
  color: black;
  font-size: 1.2rem;
  font-weight: bold;
}

.Table {
  width: 90%;
  border-collapse: collapse;
  margin-bottom: 2rem;
}

.Table thead th {
  border-top: 0.2rem solid rgba(58, 81, 153, 1);
  border-bottom: 0.2rem solid rgba(58, 81, 153, 1);
  font-weight: 500;
  padding: 0.5rem;
}

.Table tbody {
  border-bottom: 0.1rem solid rgba(58, 81, 153, 1);
}

.Table tbody th {
  padding-top: 1.5rem;
  padding-bottom: 1rem;
  font-weight: normal;
  font-size: 1rem;
}

.Footer {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
  padding: 32px;
  width: 90%;
}

.CommentContainer {
  width: 50%;
  border: solid 0.1rem rgba(58, 81, 153, 1);
  text-align: left;
}

.CommentHeader {
  background-color: rgba(58, 81, 153, 1);
  color: white;
  font-size: 1.2rem;
  padding: 0.4rem 0 0.4rem 1rem;
}

.CommentContent ul {
  list-style: decimal;
  margin-left: -0.5rem;
  margin-right: 1rem;
}

.CommentContent li {
  font-size: 0.9rem;
  margin-bottom: 1rem;
}

.AmountContainer {
  width: 30%;
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  line-height: 0.5rem;
}

.SubTotal {
  margin-top: 0rem;
  align-self: flex-start;
  font-size: 0.7rem;
}
.Amount {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.Amount span {
  font-size: 0.85rem;
}

.AmountTotal {
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-weight: 500;
}

hr.UnderLine {
  border: 1px solid red;
}

.NumberToText {
  margin-top: 1rem;
  line-height: 1.5rem;
  text-align: left;
  border: solid 1px rgba(0, 0, 0, 0.3);
  border-radius: 0.2rem;
  padding: 0.5rem;
  font-style: italic;
  background-color: white;
}

.LinkedText {
  font-style: italic;
  font-size: 20px;
  text-align: right;
  width: 60%;
}

@media all {
  .page-break {
    display: none;
  }
}

@media print {
  html,
  body {
    height: initial !important;
    overflow: initial !important;
    -webkit-print-color-adjust: exact;
  }
}

@media print {
  .page-break {
    margin-top: 1rem;
    display: block;
    page-break-before: auto;
  }
}

@page {
  size: auto;
  margin: 20mm;
}

@media (max-width: 1200px) {
  .DownloadButton {
    width: 80%;
  }

  .InvoiceContainer {
    width: 80%;
  }

  .LinkedText {
    width: 80%;
  }
}

@media (max-width: 768px) {
  .CompanyDetail {
    width: 70%;
  }

  .Content {
    padding: 16px 16px 16px 16px;
  }
}
@media (max-width: 576px) {
  .DownloadButton {
    width: 90%;
  }

  .InvoiceContainer {
    width: 100%;
    border-radius: 0;
  }
  .Content {
    flex-direction: column;
  }
  .CompanyDetail {
    width: 100%;
  }

  .InvoiceRight {
    text-align: left;
  }

  .LinkedText {
    width: 90%;
  }

  .Id {
    border-radius: 0;
  }

  .Footer {
    flex-direction: column;
    padding: 0;
  }

  .CommentContainer {
    width: 100%;
  }

  .AmountContainer {
    width: 100%;
    max-width: 300px;
    align-self: flex-end;
    margin-top: 16px;
  }
}
