.FlexContainer {
  padding: 16px 0;
  display: flex;
  justify-content: center;
}

.Container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%;
}

.DownloadButton {
  display: flex;
  justify-content: flex-end;
  width: 90%;
}

.InvoiceContainer {
  box-shadow: 0 0 0.2rem 0.1rem rgb(214, 214, 214);
  border-radius: 1rem;
  margin-top: 2rem;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  width: 90%;
}

.Id {
  width: 100%;
  border-radius: 1rem 1rem 0 0;
  background-color: rgb(215, 226, 255);
  margin: 0rem;
  font-size: 1.2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 2rem;
  text-align: left;
}

.Content {
  width: 90%;
  padding: 32px;
  display: flex;
  justify-content: space-between;
}

.CompanyDetail {
  text-align: left;
  color: rgba(0, 0, 0, 0.7);
  line-height: 1rem;
  width: 65%;
}

.CompanyName {
  color: black;
  font-size: 1.2rem;
  font-weight: 700;
  margin: 0;
}

.InvoiceCompanyData {
  margin: 10px 0;
}

.InvoiceRight {
  text-align: right;
}

.InvoiceTitle {
  font-size: 1.2rem;
  font-weight: 700;
  margin: 0;
}

.InvoiceDetail {
  display: flex;
  justify-content: flex-end;
  color: rgba(0, 0, 0, 0.7);
  line-height: 1rem;
}

.DetailLabel {
  margin-right: 2rem;
}

.Table {
  width: 90%;
  border-collapse: collapse;
  margin-bottom: 2rem;
}

.Table thead th {
  border-top: 0.2rem solid rgba(58, 81, 153, 1);
  border-bottom: 0.2rem solid rgba(58, 81, 153, 1);
  font-weight: 500;
  padding: 0.5rem;
}

.Table tbody {
  border-bottom: 0.1rem solid rgba(58, 81, 153, 1);
}

.Table tbody th {
  padding-top: 1.5rem;
  padding-bottom: 1rem;
  font-weight: 400;
  font-size: 1rem;
}

.Footer {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
  padding: 32px;
  width: 90%;
}

.CommentContainer {
  width: 50%;
  border: solid 0.1rem rgba(58, 81, 153, 1);
  text-align: left;
}

.CommentHeader {
  background-color: rgba(58, 81, 153, 1);
  color: white;
  font-size: 1.2rem;
  padding: 0.4rem 0 0.4rem 1rem;
}

.CommentContent ul {
  list-style: decimal;
  margin-left: -0.5rem;
  margin-right: 1rem;
}

.CommentContent li {
  font-size: 0.9rem;
  margin-bottom: 1rem;
}

.AmountContainer {
  width: 30%;
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  line-height: 0.5rem;
}

.SubTotal {
  margin-top: 0rem;
  align-self: flex-start;
  font-size: 0.7rem;
}
.Amount {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.Amount span {
  font-size: 0.85rem;
}

.AmountTotal {
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-weight: 500;
}

hr.UnderLine {
  border: 1px solid red;
}

.NumberToText {
  margin-top: 1rem;
  line-height: 1.5rem;
  text-align: left;
  border: solid 1px rgba(0, 0, 0, 0.3);
  border-radius: 0.2rem;
  padding: 0.5rem;
  font-style: italic;
  background-color: white;
}

.LinkedText {
  font-style: italic;
  font-size: 20px;
  text-align: right;
  width: 90%;
  margin: 16px 0 0 0;
}

.AdditionalInfo {
  margin: 2px 0;
  font-size: 0.8rem;
}

.CrossbellInfo {
  margin: 0;
}

.CrossbellInfo li {
  margin: 4px 0;
}

.PaymentDiv {
  width: 40%;
  padding: 0 16px;
  box-sizing: border-box;
}

.PaymentHeader {
  text-align: left;
  font-size: 1.3rem;
  font-weight: 600;
}

.ContentHead {
  display: flex;
  justify-content: flex-end;
}

.PaymentButton {
  background-color: rgba(58, 81, 153, 1);
  color: white;
  padding: 3px 6px;
  border-radius: 4px;
  cursor: pointer;
}

.PaymentCardHead {
  display: flex;
  justify-content: space-between;
  background-color: #d7e2ff;
  margin: 8px 0;
  padding: 4px 6px;
  text-align: left;
  border-radius: 4px;
  border: 2px solid rgba(0, 0, 0, 0.1);
}

.PaymentCard {
  display: flex;
  justify-content: space-between;
  background-color: white;
  margin: 8px 0;
  padding: 3px 4px;
  text-align: left;
  font-size: 0.9rem;
  border-radius: 4px;
  box-shadow: 0 0 0.2rem 0.1rem rgb(214, 214, 214);
}

.Numbering {
  width: 10%;
}

.Nominals {
  width: 30%;
}

.PaymentDate {
  width: 30%;
}

.PaymentTime {
  width: 30%;
}

/* .PaymentCardFooter {
} */

/* ================================================================ */

@media all {
  .page-break {
    display: none;
  }
}

@media print {
  html,
  body {
    height: initial !important;
    overflow: initial !important;
    -webkit-print-color-adjust: exact;
  }
}

@media print {
  .page-break {
    margin: 0;
    display: block;
    page-break-before: auto;
  }
}

@page {
  size: auto;
  margin: 10mm;
}

@media (max-width: 1200px) {
  .DownloadButton {
    width: 80%;
  }

  .InvoiceContainer {
    width: 80%;
  }

  .LinkedText {
    width: 80%;
  }
}

@media (max-width: 768px) {
  .CompanyDetail {
    width: 60%;
  }

  .Content {
    padding: 16px 16px 16px 16px;
  }

  .InvoiceTitle {
    font-size: 1rem;
  }

  .CompanyName {
    font-size: 1rem;
  }

  .InvoiceCompanyData {
    font-size: 0.8rem;
  }
  .InvoiceDetail {
    justify-content: flex-end;
  }

  .Table thead th {
    font-size: 0.8rem;
  }

  .Table tbody th {
    font-size: 0.8rem;
  }

  .CommentContent li {
    font-size: 0.8rem;
  }
}

@media (max-width: 576px) {
  .DownloadButton {
    width: 90%;
  }

  .InvoiceContainer {
    width: 100%;
    border-radius: 0;
  }
  .Content {
    flex-direction: column;
  }

  .CompanyDetail {
    width: 100%;
  }

  .InvoiceTitle {
    margin-top: 16px;
  }

  .InvoiceRight {
    text-align: left;
  }

  .LinkedText {
    width: 90%;
  }

  .Id {
    border-radius: 0;
  }

  .Footer {
    flex-direction: column;
    padding: 0;
  }

  .CommentContainer {
    width: 100%;
  }

  .AmountContainer {
    width: 100%;
    max-width: 300px;
    align-self: flex-end;
    margin-top: 16px;
  }

  .InvoiceDetail {
    justify-content: flex-start;
  }
}
