.Container {
  display: flex;
  justify-content: center;
}

.InvoiceContainer {
  width: 70rem;
  border: solid 0.5rem rgba(0, 0, 0, 0.3);
  border-radius: 1rem;
  margin: 5rem;
  background-color: rgb(215, 226, 255);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.Id {
  width: 98.8%;
  border-radius: 0.5rem 0.5rem 0 0;
  background-color: rgba(58, 81, 153, 1);
  margin: 0rem;
  font-size: 1.8rem;
  font-weight: bold;
  color: white;
  padding-top: 0.5rem;
  padding-bottom: 1rem;
  padding-left: 1rem;
  text-align: left;
}

.Id span {
  text-decoration: underline;
}

.Content {
  width: 90%;
  padding: 2rem 1rem 3rem 3.5rem;
  display: flex;
  justify-content: space-between;
}

.CompanyDetail {
  text-align: left;
  color: grey;
  line-height: 1rem;
}
.InvoiceRight {
  text-align: right;
}

.InvoiceTitle {
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: 0.4rem;
  margin-bottom: 0;
  margin-top: 1rem;
}

.InvoiceDetail {
  display: flex;
  text-align: right;
  color: grey;
  line-height: 1rem;
}

.DetailLabel {
  margin-right: 2rem;
}

.CompanyName {
  color: black;
  font-size: 1.2rem;
  font-weight: bold;
}

.Table {
  width: 90%;
  border-collapse: collapse;
  margin-bottom: 2rem;
  align-self: center;
}

.Table thead th {
  border-top: 0.2rem solid rgba(58, 81, 153, 1);
  border-bottom: 0.2rem solid rgba(58, 81, 153, 1);
  font-weight: bold;
  padding: 0.5rem;
}

.Table tbody {
  border-bottom: 0.1rem solid rgba(58, 81, 153, 1);
}

.Table tbody th {
  padding-top: 1.5rem;
  padding-bottom: 1rem;

  font-weight: normal;
}

.Footer {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.CommentContainer {
  width: 50%;
  border: solid 0.1rem rgba(58, 81, 153, 1);
  text-align: left;
  margin-left: 3rem;
}

.CommentHeader {
  background-color: rgba(58, 81, 153, 1);
  color: white;
  font-size: 1.3rem;
  padding: 0.5rem 0 0.5rem 1rem;
}

.SubTotal {
  margin-top: 0rem;
  align-self: flex-start;
  font-size: 0.8rem;
}

.CommentContent ul {
  list-style: decimal;
}

.CommentContent li {
  font-size: 0.9rem;
  margin-bottom: 0.9rem;
}

.AmountContainer {
  width: 25%;
  display: flex;
  flex-direction: column;
  margin-right: 5rem;
  font-size: 1.1rem;
  line-height: 0;
}

.Amount {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.Amount span {
  font-size: 0.85rem;
}

.AmountTotal {
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-weight: bold;
}
