.Container {
  display: flex;
  flex-direction: row;
  font-family: sans-serif;
  height: 15rem;
  margin-left: 2rem;
  margin-right: 2rem;
}

.ContainerLeft {
  display: flex;
  flex-direction: row;
}

.ContainerLeftDivider {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.ContainerSizeIn {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  font-size: 0.9rem;
}

.Logo {
  width: 15rem;
  height: auto;
  margin-right: 2rem;
  margin-left: 3rem;
}

.CompanyName {
  font-size: 2rem;
  font-weight: bold;
}

.CompanySize {
  margin-right: 0.5rem;
}

.CompanyIndustry {
  margin-left: 0.5rem;
}

.CompanyWebsites {
  cursor: pointer;
}

.LinkIcon {
  width: 2rem;
  height: 2rem;
  opacity: 0.8;
}

.ContainerRight {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 40rem;
  margin-left: 2rem;
  margin-top: 2rem;
}
