.VerificationNotif {
  display: flex;
  background-color: #f8f3d6;
  color: #967132;
  align-items: center;
  padding: 0 2rem;
}

.VerificationNotif span {
  padding: 16px 4px;
  border-radius: 4px;
  font-size: 1.3rem;
  font-weight: 600;
}

.Wraper {
  padding: 2rem 2rem 4rem 2rem;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.Container {
  display: flex;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
  margin-right: 1rem;
  width: 17.5%;
}

.Container a {
  text-decoration: none;
}

.ContainerLeft {
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: 1rem;
  background-color: white;
  border-radius: 0.2rem;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.ContainerLeftDivider {
  overflow: hidden;
  text-overflow: ellipsis;
}

.Logo {
  width: 100%;
  height: 15rem;
}

.CompanyName {
  font-size: 1.3rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
  margin-top: 0;
}

.CompanyIndustry {
  color: rgba(0, 0, 0, 0.6);
  font-size: 0.8rem;
}

.CompanyHeadquarter {
  font-size: 0.75rem;
  line-height: 1.1rem;
}

.CompanyWebsites {
  cursor: pointer;
  align-items: center;
  text-decoration: none;
  font-size: 0.8rem;
  font-weight: bold;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.EditProfile {
  display: flex;
  justify-content: flex-end;
  margin-top: 16px;
}

.LinkIcon {
  width: 1.7rem;
  height: 1.7rem;
  opacity: 0.8;
}

.Content {
  width: 82.5%;
}

.PicContainer {
  background-color: white;
  border-radius: 0.2rem;
  display: flex;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  text-align: left;
  width: auto;
  padding: 16px;
  margin-top: 16px;
}

.PicHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Title {
  font-size: 1.7rem;
  font-weight: bold;
  margin: 0;
}

.PICTitle {
  font-size: 1.3rem;
  font-weight: bold;
  margin: 0;
  margin-bottom: 0.5rem;
}

.PicContent {
  display: flex;
  flex-direction: column;
  line-height: 16px;
  font-size: 0.9rem;
  width: 100%;
  overflow: hidden;
}

.TextHolder {
  display: flex;
  flex-direction: column;
}

.TextWraper {
  display: flex;
  margin: 8px 0;
}

.PicLabel {
  color: rgba(0, 0, 0, 0.6);
}

.TextWraper p {
  margin: 0 10px 0 0;
}

.EditPIC {
  display: flex;
  justify-content: flex-end;
  margin-top: 16px;
}

/* job list css */

.CardContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgb(255, 255, 255);
  padding: 2rem 3rem 3rem 3rem;
  margin-top: 1rem;
  border-radius: 0.2rem;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.CardContainer a {
  text-decoration: none;
  color: inherit;
}

.DivContainer {
  display: flex;
  justify-content: 'flex-start';
  flex-wrap: wrap;
  text-align: left;
}

.EmptyText {
  font-size: 1.5rem;
  width: 100%;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

.Header {
  display: flex;
  text-align: left;
  padding: 0 0.3rem;
  margin-bottom: 32px;
  align-items: center;
}

.HeaderTitleDiv {
  margin-right: 32px;
}

.CardHolder {
  box-sizing: border-box;
  width: 25%;
  height: 310px;
  padding: 0.5rem 0.56rem;
}

.VerifiedDiv {
  display: flex;
  align-items: center;
}

.VerifiedDiv span {
  margin-left: 8px;
}

.JobCard {
  height: 280px;
  padding: 0 1rem 0 1rem;
  border-radius: 0.2rem;
  border: solid 0.05rem rgba(0, 0, 0, 0.2);
  text-align: left;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

.JobCard:hover {
  border: solid 0.05rem rgba(0, 0, 0, 0.7);
}

.CardBody {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 0.9rem;
  margin-bottom: 1rem;
}

.CardFooter {
  border-top: solid 0.05rem rgba(0, 0, 0, 0.2);
  line-height: 0;
}

.ExpDate {
  color: rgba(0, 0, 0, 0.5);
  font-size: 0.8rem;
  margin-top: 1rem;
}
.Avatar {
  width: 100%;
  height: 15rem;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  align-self: center;
  margin-bottom: 1rem;
}

.CardLocation {
  color: rgba(0, 0, 0, 0.5);
  margin-top: -1rem;
  font-size: 0.8rem;
  height: 1.7rem;
  overflow: hidden;
}

.CardTitle {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.CardRecipient {
  font-size: 0.8rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.ButtonsDiv {
  display: flex;
  align-items: center;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  cursor: pointer;
  border: none;
  outline: none;
  background-color: #3f51b5;
  font-family: inherit;
  font-weight: bold;
  margin-left: 16px;
  padding: 2px 0px 6px 10px;
  font-size: 0.9rem;
  align-items: center;
  color: #fff;
  font-weight: 500;
  border-radius: 3px;
}

.dropdown:hover .dropbtn,
.dropbtn:focus {
  background-color: #26368d;
}

.dropdownContent {
  display: none;
  position: absolute;
  background-color: white;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdownShow {
  display: block;
  position: absolute;
  background-color: white;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdownContent a,
.dropdownShow a {
  float: none;
  color: black;
  text-decoration: none;
  display: block;
  text-align: left;
  line-height: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  font-weight: 500;
  min-width: 100px;
  padding: 2px 11px;
}

.dropdownContent a:hover,
.dropdownShow a:hover {
  background-color: rgba(240, 240, 240, 0.75);
}

@media (max-width: 1200px) {
  .Avatar {
    height: 11rem;
  }
}

@media (max-width: 992px) {
  .Wraper {
    flex-direction: column;
  }

  .Container {
    width: 100%;
    margin: 0;
    margin-bottom: 16px;
  }

  .CompanyContainer {
    display: flex;
    width: 100%;
  }

  .ContainerLeft {
    flex-direction: row;
    width: 100%;
  }

  .CompanyName {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
    margin-top: 0;
  }

  .CompanyIndustry {
    font-size: 1rem;
    margin: 0;
  }

  .CompanyHeadquarter {
    font-size: 0.8rem;
    line-height: 24px;
  }

  .Content {
    width: 100%;
  }

  .DetailLogo {
    margin-right: 32px;
  }

  .DetailLogo a {
    text-decoration: none;
    fill: black;
  }

  .Avatar {
    width: 10rem;
    height: 10rem;
  }

  .ContainerLeft {
    justify-content: space-between;
  }

  .ContainerRight {
    align-self: flex-start;
  }

  .PicContent {
    display: flex;
    justify-content: space-between;
  }

  .TextHolder {
    margin-right: 40px;
  }

  .CardHolder {
    width: 33.33%;
  }

  .EditProfile {
    margin-top: 0;
    align-self: flex-end;
  }

  .ContainerLeftGroup {
    display: flex;
  }

  .PicContent {
    flex-direction: row;
    justify-content: flex-start;
  }

  .CardContainer {
    padding: 16px;
  }

  .Title {
    margin-top: 0;
  }
}

@media (max-width: 576px) {
  .Wraper {
    padding: 5px 2px;
  }

  .CompanyContainer {
    flex-direction: column;
    width: 100%;
  }

  .ContainerLeft {
    flex-direction: column;
    width: 100%;
  }

  .Avatar {
    width: 100%;
    height: 160px;
    margin-right: 0;
  }

  .ContainerLeftDivider {
    width: 100%;
  }

  .ContainerRight {
    align-self: flex-end;
  }

  .DivContainer {
    flex-wrap: nowrap;
    overflow-y: hidden;
    justify-content: flex-start;
  }

  .PicContainer {
    padding: 16px;
  }

  .CardContainer {
    padding: 16px;
  }

  .PicHeader {
    margin-bottom: 10px;
  }

  .Title {
    margin: 0;
  }

  .CardHolder {
    width: 50%;
    margin-right: 32px;
  }

  .JobCard {
    width: 31vh;
    padding: 0 16px;
  }
}

@media (max-width: 320px) {
  .PicContainer {
    padding: 4px 8px;
  }

  .PicContent {
    line-height: 1.5;
    overflow-y: hidden;
  }

  .TextHolder {
    margin-right: 32px;
  }
}
