.Container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 32px;
}

.ContainerFlex {
  width: 40rem;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: none;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  border-radius: 0.5rem;
  background-color: white;
  font-family: sans-serif;
  font-size: 0.8rem;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.5);
  padding: 0.5rem 3rem 2rem 3rem;
}

.FormTitle {
  font-size: 1.4rem;
  color: black;
  align-self: flex-start;
}

.FormRow {
  width: 100%;
  display: flex;
  flex-direction: row;
  border-top: solid 0.1rem rgba(0, 0, 0, 0.7);
  justify-content: center;
}

.EditLabel {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 0.6rem;
}

.ProfilePicture {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  align-items: center;
  margin-bottom: 2rem;
}

.InputButton {
  border: none;
  border-radius: 0.2rem;
  background-color: rgba(58, 81, 153, 1);
  color: white;
  outline: none;
  cursor: pointer;
  font-weight: bold;
  width: 6rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.Footer {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-top: 1rem;
}

@media (max-width: 768px) {
  .EditCompanyBrief {
    margin-top: 0;
  }

  .Container {
    padding: 32px 28px;
  }
}

@media (max-width: 576px) {
  .EditCompanyBrief {
    margin-top: 0;
  }

  .Container {
    padding: 0;
  }

  .ContainerFlex {
    width: 100vh;
    padding: 0px 16px 10px 16px;
    border-radius: 0;
  }
}

@media (max-width: 440px) {
  .ContainerFlex {
    width: 50vh;
    padding: 6px 16px;
  }

  .Container {
    padding: 0;
    padding-top: 0;
  }

  .ContainerFlex {
    border-radius: 0;
  }
}
