.AboutUs {
	width: 100%;
	display: flex;
	justify-content: center;
	flex-flow: column;
	align-items: center;
}

.AboutUsBanner {
	width: 100%;
	height: 17rem;
	background-color: rgb(215, 226, 255);
	display: flex;
	justify-content: center;
	flex-flow: column;
	align-items: center;
	margin-bottom: 1rem;
}

.MissionValues {
	width: 60%;
	text-align: start;
	margin-top: 1rem;
	font-size: 14px;
	line-height: 150%;
}

.MissionValues > h3 {
	margin: 0;
}

.MissionValues > p {
	margin: .5rem 0;
}
