/* ====================================================WELCOME TO CROSSBELL SECTION=========================================================== */
.WelcomeToCrossbellBackground {
  background-color: #fff;
}
.WelcomeToCrossbell {
  display: flex;
  justify-content: space-around;
  max-width: 1366px;
  padding: 0;
  padding-top: 30px;
  margin: auto;
  margin-bottom: 40px;
}
.WelcomeText {
  max-width: 450px;
  min-height: 400px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
}
.WelcomeText h1 {
  font-size: 48px;
  font-weight: 900;
  text-align: start;
  line-height: 45px;
  color: #f79f35;
  margin: 0;
}
.WelcomeText p {
  font-weight: 400;
  text-align: start;
  color: #686868;
  line-height: 1.5em;
  margin: 0;
}
.WelcomeSearchBar {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 15px 0;
  width: 100%;
}
.WelcomeSearchBar input {
  width: 100%;
  max-width: 300px;
  outline: none;
  border: 3px solid #f79f35;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  min-height: 30px;
  padding: 5px;
  padding-left: 15px;
  font-size: 20px;
}
.WelcomeSearchBar button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 80px;
  min-height: 46px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: #f79f35;
  padding: 5px;
  font-size: 20px;
  border: 3px solid #f79f35;
  color: #fff;
}
.WelcomeSearchBar button:hover,
.ExploreButton:hover,
.RegistrationButton:hover {
  cursor: pointer;
}
.WelcomeButton {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

.ExploreButton,
.RegistrationButton {
  outline: none;
  max-width: 200px;
  border-radius: 10px;
  font-size: 18px;
  line-height: 1em;
  padding: 0.5em;
  box-shadow: 1.5px 1.5px 5px #71430b;
}
.ExploreButton {
  background-color: #f79f35;
  color: #fff;
  border: 3px solid #f79f35;
  margin-right: 20px;
}
.RegistrationButton {
  background-color: #ffe3c7;
  color: #686868;
  border: 3px solid #ffe3c7;
}

.WelcomeIllustrationContainer {
  display: flex;
  align-items: flex-end;
  max-width: 500px;
}
.WelcomeIllustrationContainer > img {
  width: 100%;
}

/* ====================================================FEATURE SECTION=========================================================== */
.FeatureBackground {
  background-color: #ffeedd;
}
.FeatureContainer {
  max-width: 1366px;
  min-height: 400px;
  display: flex;
  justify-content: space-between;
  margin: auto;
  padding: 100px;
  box-sizing: border-box;
}

.FeatureText {
  width: 100%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-right: 10px;
}
.FeatureText h1 {
  font-size: 40px;
  font-weight: 900;
  text-align: start;
  line-height: 45px;
  color: #f79f35;
  margin: 0;
  margin-bottom: 40px;
}
.FeatureText p {
  font-weight: 400;
  font-size: 18px;
  text-align: start;
  color: #686868;
  line-height: 1.5em;
  margin: 0;
  margin-bottom: 40px;
}
.FeatureText button {
  outline: none;
  max-width: 200px;
  border-radius: 10px;
  font-size: 18px;
  line-height: 1em;
  padding: 0.5em;
  background-color: #f79f35;
  color: #fff;
  border: 3px solid #f79f35;
  margin-right: 20px;
  box-shadow: 1.5px 1.5px 5px #71430b;
}
.FeatureText button:hover {
  cursor: pointer;
}

.FeatureList {
  display: flex;
  justify-content: center;
  width: 50%;
}

.FirstPairFeatures,
.SecondPairFeatures {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
}
.FirstPairFeatures {
  align-items: flex-end;
  margin-right: 20px;
}
.SecondPairFeatures {
  align-items: flex-start;
  flex-direction: column-reverse;
}

.FeatureCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 300px;
  min-height: 350px;
  border: 3px solid #f79f35;
  border-radius: 10px;
  background-color: #fff;
  padding: 20px;
  box-sizing: border-box;
}

.FeatureCard a {
  text-decoration: none;
  border-bottom: 2px solid #f79f35;
  color: #000;
}

.FirstPairFeatures > .FeatureCard:nth-child(1),
.SecondPairFeatures > .FeatureCard:nth-child(1) {
  min-height: 400px;
  margin: 20px 0;
}

.FeatureIconBackground {
  border-radius: 50%;
  background-color: #ffeedd;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.FeatureIcon {
  width: 100%;
  max-width: 60px;
  height: auto;
}

/* ==================================================All In One Profile========================================================= */
.AllInOneProfileBackground {
  background-color: #fff;
}

.AllInOneProfileContainer {
  max-width: 1366px;
  display: flex;
  justify-content: space-between;
  padding: 40px 20px;
  margin: auto;
}

.AllInOneProfileImage {
  width: 50%;
}
.AllInOneProfileImage img {
  max-width: 550px;
  height: auto;
}
.AllInOneProfileText {
  width: 50%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.AllInOneProfileText p {
  font-size: 24px;
  line-height: 1.6em;
  color: #686868;
}
.AllInOneProfileText a {
  width: fit-content;
}
.AllInOneProfileText button {
  outline: none;
  background-color: #f79f35;
  padding: 0.5em;
  border-radius: 10px;
  border: 3px solid #f79f35;
  color: #fff;
  font-size: 20px;
  box-shadow: 1.5px 1.5px 5px #71430b;
}
.AllInOneProfileText button:hover {
  cursor: pointer;
}

/* ====================================================HEADHUNTER======================================================== */
.HeadhunterBackground {
  background-color: #ffeedd;
}

.HeadhunterContainer {
  min-height: 400px;
  width: 100%;
  max-width: 1366px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  box-sizing: border-box;
  padding: 50px 0 150px;
}
.HeadhunterContainer > h2 {
  max-width: 800px;
  font-size: 32px;
  font-weight: 900;
}

.HeadhunterImage {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 80%;
  margin-bottom: 15px;
}
.HeadhunterImage img {
  width: 100%;
  max-width: 300px;
  border-radius: 50%;
}
.HeadhunterFeatures {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-bottom: 40px;
}
.HeadhunterScreeningItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 350px;
}
.HeadhunterScreeningItem > img {
  max-width: 50px;
  margin-bottom: 10px;
}
.HeadhunterScreeningItem > h3 {
  margin: 0;
  margin-bottom: 10px;
  color: #f79f35;
  font-size: 24px;
}
.HeadhunterScreeningItem > p {
  margin: 0;
  color: #686868;
}

.HeadhunterRequest a {
  text-decoration: none;
}
.HeadhunterRequest span {
  outline: none;
  background-color: #f79f35;
  padding: 0.5em;
  border-radius: 10px;
  border: 3px solid #f79f35;
  color: #fff;
  font-size: 20px;
  box-shadow: 1.5px 1.5px 5px #71430b;
}

/* ====================================================OUR PARTNERS======================================================== */

.PartnersBackground {
  background-color: #fff;
}

.PartnersContainer {
  max-width: 1366px;
  margin: auto;
  padding-bottom: 50px;
}
.PartnersContainer h2 {
  font-size: 36px;
  margin-bottom: 50px;
}

.PartnersGallery {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

/* ====================================================FINAL REGISTRATION======================================================== */
.ContactUsBackground {
  background-color: #ffe3c7;
  padding: 50px 0;
  position: relative;
}

.BackStripe {
  position: absolute;
  width: 100vw;
  min-height: 250px;
  background-color: #f79f35;
  z-index: 5;
  top: 25%;
}
