.Container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Container a {
  text-decoration: none;
  color: black;
}

.Header {
  align-self: flex-start;
  margin-left: 10%;
}

.TableHolder {
  overflow-y: hidden;
  margin-bottom: 2rem;
  border-radius: 6px;
  width: 80%;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.Table {
  border-collapse: collapse;
  box-shadow: 0 0 15px rgb(0, 0, 0, 0.2);
  background-color: white;
  width: 100%;
}

.Table th {
  text-align: left;
  font-weight: normal;
}

.Table tr {
  align-items: center;
  border-bottom: solid 1px rgba(0, 0, 0, 0.2);
}

.RowField th {
  padding: 1rem;
  background-color: #d7e2ff;
  font-weight: 500;
  background-color: rgba(58, 81, 153, 1);
  color: white;
}

.ColumnField th {
  font-size: 0.85rem;
  padding: 0.5rem 1rem 0.5rem 1rem;
}

.DropButton {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-weight: bold;
  font-size: 1rem;
}

.DropDown {
  position: relative;
  display: inline-block;
  align-self: center;
}

.DropDownContent {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  box-shadow: 0rem 0.8rem 1rem 0rem rgba(0, 0, 0, 0.2);
  z-index: 1;
  right: 0;
}

.DropDownContent button {
  background-color: transparent;
  border: none;
  display: block;
  padding: 10px;
  width: 96px;
  font-weight: bold;
  outline: none;
  cursor: pointer;
}

.DropDownContent button:hover {
  border: none;
  background-color: rgb(236, 236, 236);
}

.DropDown:hover .DropDownContent {
  display: block;
}

.DropDown:hover .DropButton {
  background-color: #d7e2ff;
}

@media (max-width: 576px) {
  .Header {
    width: 100%;
    margin-left: 0;
    font-size: 20px;
  }

  .RowField th {
    padding: 8px 14px;
  }

  .TableHolder {
    width: 90%;
  }
}
