.Page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Container {
  background-color: white;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  min-height: 200px;
  min-width: 70%;
  display: flex;
  align-items: center;
  border-radius: 6px;
  margin-bottom: 2rem;
}

.Container a {
  text-decoration: none;
  color: black;
}

.Header {
  display: flex;
  justify-content: space-between;
  width: 80%;
  align-items: center;
}

.FilterDiv {
  display: flex;
  align-items: center;
  width: 50%;
}

.TableHolder {
  min-width: 100%;
  border-radius: 6px;
  overflow-y: hidden;
}

.Table {
  border-collapse: collapse;
}

.Table th {
  text-align: left;
  font-weight: normal;
}

.Table tr {
  align-items: center;
  border-bottom: solid 1px rgba(0, 0, 0, 0.2);
}

.RowField th {
  padding: 1rem;
  background-color: #d7e2ff;
  font-weight: 500;
  background-color: rgba(58, 81, 153, 1);
  color: white;
}

.ColumnField th {
  font-size: 0.85rem;
  padding: 0.5rem 1rem 0.5rem 1rem;
}

.DropButton {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-weight: bold;
  font-size: 1rem;
}

.DropDown {
  position: relative;
  display: inline-block;
  align-self: center;
}

.DropDownContent {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  /* box-shadow: 0rem 0.8rem 1rem 0rem rgba(0, 0, 0, 0.2); */
  z-index: 1;
  left: -35px;
  bottom: -3px;
}

.DropDownContent button {
  background-color: transparent;
  border: none;
  display: block;
  padding: 10px;
  width: 96px;
  font-weight: bold;
  outline: none;
  cursor: pointer;
}

.DropDownContent button:hover {
  border: none;
  background-color: rgb(236, 236, 236);
}

.DropDown:hover .DropDownContent {
  display: block;
}

.DropDown:hover .DropButton {
  background-color: #d7e2ff;
}

.EmptyText {
  font-size: 1.5rem;
  width: 100%;
  margin: 0;
  font-weight: bold;
}

.RevenueContainer {
  display: flex;
  padding: 8px 16px;
  margin: 16px 0;
  border-radius: 6px;
  background-color: #d7e2ff;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  width: 70%;
}

.AmountDiv {
  width: 50%;
  display: flex;
}

.AmountLabel {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-right: solid 0.1rem gray;
  padding-right: 2rem;
  margin-right: 2rem;
}

.AmountNumber {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-weight: bold;
}

.RevenueDiv {
  width: 50%;
  display: flex;
}

.RevenueLabel {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-right: solid 0.1rem gray;
  padding-right: 2rem;
  margin-right: 2rem;
}

.Label {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.RevenueNumber {
  display: flex;
  flex-direction: column;
  font-weight: bold;
  align-items: flex-start;
}

@media (max-width: 576px) {
  .Header {
    width: 100%;
    margin-left: 0;
    font-size: 20px;
  }

  .RowField th {
    padding: 8px 14px;
  }

  .TableHolder {
    width: 90%;
  }
}
