.Button {
  background-color: transparent;
  border: none;
  color: white;
  outline: none;
  cursor: pointer;
  font: inherit;
  padding: 5px 10px;
  margin: 0;
  /* font-weight: bold; */
  transition: all 0.1s ease-in;
}

.Button:disabled {
  color: #ccc;
  cursor: not-allowed;
}

.Button:hover:enabled {
  background-color: rgba(58, 81, 153, 1);
}

.InstantApply {
  color: white;
  border-radius: 3px;
  background-color: rgba(58, 81, 153, 0.9);
}

.Dark {
  background-color: rgb(215, 226, 255);
  color: rgba(58, 81, 153, 1);
  border-radius: 15px;
  padding: 5px 20px;
}
.Dark:disabled {
  background-color: rgb(215, 226, 255);
}

.SkipButton {
  background-color: rgba(58, 81, 153, 1);
  font-size: 1rem;
  border-radius: 0.5rem;
  outline: none;
}

.EditAdmin {
  background-color: rgba(58, 81, 153, 1);
  font-size: 1rem;
  border-radius: 0.5rem;
  outline: none;
  transform: scale(1.1);
}

.SearchButton {
  background-color: rgba(58, 81, 153, 1);
  font-size: 1rem;
  border-radius: 0.5rem;
  outline: none;
}

@media screen and (min-width: 768px) {
  /* .Button:hover:enabled {
    transform: scale(1.1);
  }
  .Button:active {
    transform: translateY(2px);
  } */
}
