.Button {
	background-color: transparent;
	border: none;
	color: white;
	outline: none;
	cursor: pointer;
	font: inherit;
	padding: 10px;
	margin: 10px;
	font-weight: bold;
	transition: transform .1s ease-in;
}

.Button:disabled {
	color: #ccc;
	cursor: not-allowed;
}

.Button:hover {
	transform: scale(1);
}

.Button:active {
	transform: translateY(2px);
}

.InstantApply {
	color: rgba(58, 81, 153, 1);
}

@media screen and (min-width: 768px) {
	.Button:hover {
		transform: scale(1.1);
	}
	.Button:active {
		transform: translateY(2px);
	}
}
