$primaryColor: #f79f35;
$secondaryColor: #ef3f37;
.HeaderBanner {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding-left: 30px;
  margin-bottom: 50px;
  .HeaderText {
    width: 50%;
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    & > * {
      margin: 0;
    }
    h1 {
      margin-bottom: 20px;
      font-size: 36px;
      text-align: start;
    }
    h2 {
      color: $primaryColor;
      font-size: 28px;
      text-align: start;
    }
  }
  .HeaderImage {
    width: 50%;
    display: flex;
    justify-content: flex-end;
    img {
      width: 100%;
      max-width: 800px;
    }
  }
}

@media screen and (max-width: 992px) {
  .HeaderBanner {
    flex-direction: column-reverse;
    padding: 0;
    .HeaderImage {
      width: 100%;
      margin-bottom: 25px;
    }
    .HeaderText {
      align-items: center;
      width: 100%;
      h1,
      h2 {
        text-align: center;
        width: 100%;
      }
    }
  }
}
