/* =============== Edit/ Defaut Button ===============  */

.IconButton {
	height: 2.5rem;
	width: 2.5rem;
	border-radius: 5rem;
	border: solid 0.05rem rgba(0, 0, 0, 0.4);
	margin-left: 1rem;
	cursor: pointer;
	outline: none;
	font-family: sans-serif;
	font-size: 0.8rem;
	font-weight: bold;
	position: relative;
	transition: all 0.5s;
}

.IconButton:hover {
	width: 5rem;
	position: relative;
	padding-right: 4rem;
}

.IconButton::after {
	content: "Edit";
	position: absolute;
	white-space: nowrap;
	top: 0.7rem;
	right: 1rem;
	opacity: 0;
	transition: all 0.5s;
}
.IconButton:hover::after {
	opacity: 1;
	transform: translateX(10%);
}

/* =============== Add Job Button ===============  */

.IconAddJobButton {
	height: 2.5rem;
	width: 2.5rem;
	border-radius: 5rem;
	border: solid 0.05rem rgba(0, 0, 0, 0.4);
	margin-left: 1rem;
	cursor: pointer;
	outline: none;
	font-family: sans-serif;
	font-size: 0.8rem;
	font-weight: bold;
	position: relative;
	transition: all 0.5s;
}

.IconAddJobButton:hover {
	width: 12rem;
	position: relative;
	padding-right: 4rem;
}

.IconAddJobButton::after {
	content: "Add Job Advertisement";
	position: absolute;
	white-space: nowrap;
	top: 0.7rem;
	right: 1.7rem;
	opacity: 0;
	transition: all 0.5s;
}
.IconAddJobButton:hover::after {
	opacity: 1;
	transform: translateX(10%);
}

/* =============== Add Segment Button ===============  */

.IconAddButton {
	height: 2.5rem;
	width: 2.5rem;
	border-radius: 5rem;
	border: solid 0.05rem rgba(0, 0, 0, 0.4);
	margin-left: 1rem;
	cursor: pointer;
	outline: none;
	font-family: sans-serif;
	font-size: 0.8rem;
	font-weight: bold;
	position: relative;
	transition: all 0.5s;
}

.IconAddButton:hover {
	width: 5rem;
	position: relative;
	padding-right: 4rem;
}

.IconAddButton::after {
	content: "Add";
	position: absolute;
	white-space: nowrap;
	top: 0.7rem;
	right: 1rem;
	opacity: 0;
	transition: all 0.5s;
}
.IconAddButton:hover::after {
	opacity: 1;
	transform: translateX(10%);
}

/* =============== Delete Button ===============  */

.IconDeleteButton {
	height: 2.5rem;
	width: 2.5rem;
	border-radius: 5rem;
	border: solid 0.05rem rgba(0, 0, 0, 0.4);
	margin-left: 1rem;
	cursor: pointer;
	outline: none;
	font-family: sans-serif;
	font-size: 0.8rem;
	font-weight: bold;
	position: relative;
	transition: all 0.5s;
}

.IconDeleteButton:hover {
	width: 5.5rem;
	position: relative;
	padding-right: 4rem;
}

.IconDeleteButton::after {
	content: "Delete";
	position: absolute;
	white-space: nowrap;
	top: 0.7rem;
	right: 1rem;
	opacity: 0;
	transition: all 0.3s;
}
.IconDeleteButton:hover::after {
	opacity: 1;
	transform: translateX(10%);
}

/* =============== Purchase Button ===============  */

.IconOrderButton {
	height: 2.5rem;
	width: 2.5rem;
	border-radius: 5rem;
	border: solid 0.05rem rgba(0, 0, 0, 0.4);
	margin-left: 1rem;
	cursor: pointer;
	outline: none;
	font-family: sans-serif;
	font-size: 0.8rem;
	font-weight: bold;
	position: relative;
	transition: all 0.5s;
}

.IconOrderButton:hover {
	width: 9rem;
	position: relative;
	padding-right: 6rem;
}

.IconOrderButton::after {
	content: "Purchase Slot";
	position: absolute;
	white-space: nowrap;
	top: 0.7rem;
	right: 1.3rem;
	opacity: 0;
	transition: all 0.3s;
}
.IconOrderButton:hover::after {
	opacity: 1;
	transform: translateX(10%);
}
