.inputContainer {
  width: 100%;
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  justify-content: center;
}

.InputElements {
  border-radius: 5px;
  outline: none;
  width: 100%;
  border: 2px solid rgba(58, 81, 153, 1);
}

.inputLabel {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 0.2rem;
  color: rgba(58, 81, 153, 1);
}

::placeholder {
  color: rgba(58, 81, 153, 1);
}

.AddJobInput {
  font-size: 0.8rem;
  width: 40rem;
  height: 1.5rem;
  border: solid 0.05rem;
  margin-bottom: 1rem;
  outline: none;
}

.Login {
  width: 18rem;
  height: 2.5rem;
  border: none;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
}

.Register {
  width: 18rem;
  height: 2rem;
  border: none;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
}

.EditProfileTextArea {
  align-content: flex-start;
  width: 40rem;
  height: 15rem;
  border: solid 0.05rem;
  margin-bottom: 1rem;
  resize: none;
}

.DateInput {
  font-size: 0.8rem;
  width: 15rem;
  height: 1.5rem;
  border: solid 0.05rem;
  margin-bottom: 1rem;
  outline: none;
  font-size: small;
  font-family: sans-serif;
}

.Reply {
  align-content: flex-start;
  width: 62rem;
  border: solid 0.05rem;
  margin-bottom: 1rem;
  resize: none;
  border: none;
  box-shadow: inset 0 0 0.5rem rgba(58, 81, 153, 0.8);
  padding: 1rem;
}

.QueryHome {
  font-size: 0.8rem;
  width: 35rem;
  height: 2rem;
  border: solid 0.05rem;
  outline: none;
  font-size: medium;
  font-family: sans-serif;
  margin-left: 8rem;
}
