.InputContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.InputElements {
  width: 100%;
}

.TextareaElements {
  width: 100%;
}

.InputLabel {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 0.2rem;
  color: rgba(58, 81, 153, 1);
}

::placeholder {
  color: rgba(58, 81, 153, 1);
}

.AddJobInput {
  width: 100%;
}
.customdate {
  width: 100%;
}

.AppInput {
  width: 100%;
}

.Login {
  width: 100%;
}

.Forgot_Password {
  width: 100%;
  height: 1.5rem;
  margin: 0 1rem;
  box-sizing: border-box;
  align-self: center;
}

.Register {
  width: 100%;
}

.EditProfileTextArea {
  align-content: flex-start;
  width: 100%;
  height: 15rem;
  border: solid 0.05rem;
  margin-bottom: 1rem;
  resize: none;
}

.DateInput {
  font-size: 0.8rem;
  width: 15rem;
  height: 1.5rem;
  border: solid 0.05rem;
  margin-bottom: 1rem;
  outline: none;
  font-size: small;
  font-family: sans-serif;
}

.QueryHome {
  font-size: 0.8rem;
  width: 35rem;
  height: 2rem;
  border: solid 0.05rem;
  outline: none;
  font-size: medium;
  font-family: sans-serif;
  margin-left: 8rem;
}

.PackageSlot {
  width: 80%;
}

.Amount {
  width: 100%;
}

.Position {
  width: 100%;
}

.JobSpec {
  width: 100%;
}

.Age {
  width: 40%;
}

.Range {
  color: gray;
}

.Salary {
  font-size: 0.9rem;
  width: 7rem;
  height: 1.5rem;
  border: solid 0.05rem rgba(124, 124, 124, 0.4);
  outline: none;
  padding: 0 0.2rem 0 0.5rem;
  margin-right: 1rem;
  margin-bottom: 0.5rem;
}

.InputInvalid {
  border-color: red;
  color: red;
}

.InputInvalid p {
  color: red;
  margin: 0;
  font-size: 0.8rem;
  text-align: start;
}
