.Logo {
  display: flex;
  align-items: center;
  background-color: transparent;
  padding: 2px;
  height: 100%;
  box-sizing: border-box;
  margin-right: 16px;
  font-family: 'Nexa';
}

.Logo img {
  height: auto;
}
