.Modal {
  z-index: 100;
  position: fixed;
  left: 50%;
  transform: translate(-50%, 0);
  top: 15vh;
  max-width: 500px;
  width: 100%;
  background: white;
  box-shadow: 0 0 10px #f79f35;
}

.Header {
  width: 100%;
  background: #f79f35;
  color: white;
  box-sizing: border-box;
  padding: 10px 15px;
}

.Header h2 {
  margin: 0;
  text-align: start;
}

.Content {
  padding: 1rem 0.5rem;
}
