.Container {
	z-index: 100;
	position: fixed;
	top: 22vh;
	left: 10%;
	width: 80%;
	background: white;
	box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
	border-radius: 8px;
}

.Header {
	width: 100%;
	padding: 1rem 0.5rem;
	background: #2a006e;
	color: white;
}

.Header h2 {
	margin: 0.5rem;
}

.Content {
	padding: 1rem 0.5rem;
}

.Footer {
	padding: 1rem 0.5rem;
}

@media (min-width: 768px) {
	.Container {
		left: calc(50% - 20rem);
		width: 40rem;
	}
}

.Container-enter {
	transform: translateY(-10rem);
	opacity: 0;
}

.Container-enter-active {
	transform: translateY(0);
	opacity: 1;
	transition: all 200ms;
}

.Container-exit {
	transform: translateY(0);
	opacity: 1;
}

.Container-exit-active {
	transform: translateY(-10rem);
	opacity: 0;
	transition: all 200ms;
}
