.Modal {
  z-index: 100;
  position: fixed;
  top: 22vh;
  left: 10%;
  width: 80%;
  background: white;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  border-radius: 8px;
  padding: 0 16px;
}

.Header h2 {
  margin: 0.5rem;
}

.Content {
  font-size: 1.1rem;
  margin: 0;
  padding: 1rem 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.Details {
  font-size: 0.8rem;
  text-align: left;
  line-height: 1.2rem;
  color: red;
}

.Footer {
  padding: 8px;
}

.Footer {
  display: flex;
  justify-content: flex-end;
}

@media (min-width: 768px) {
  .Modal {
    left: calc(59.5% - 30rem);
    width: 40rem;
  }
}
