.MapContainer {
  border-left: solid 0.4rem rgba(58, 81, 153, 1);
  padding-left: 4rem;
  padding-bottom: 2rem;
  margin-top: -0.5rem;
  display: flex;
  justify-content: space-between;
  text-align: left;
  position: relative;
}

.Square {
  height: 1.5rem;
  width: 1.5rem;
  background-color: rgba(58, 81, 153, 1);
  transform: rotate(45deg);
  position: absolute;
  left: -0.95rem;
  /* border-radius: 1rem; */
}

.Title {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: -0.5rem;
  margin-top: 0rem;
}

.SubTitle {
  font-size: 1rem;
  margin-bottom: -0.8rem;
}

.PeriodSegment {
  display: flex;
  flex-direction: row;
  color: rgba(0, 0, 0, 0.5);
  margin-bottom: -1rem;
}

.Period {
  font-size: 1rem;
}

.Space {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.Description {
  width: 50rem;
  font-size: 1rem;
  color: rgba(0, 0, 0, 0.5);
}
