.MapContainer {
  border-left: solid 0.4rem #f79f35;
  padding-left: 2rem;
  padding-bottom: 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: left;
  position: relative;
}

.TopContent {
  display: flex;
  justify-content: space-between;
}

.Square {
  height: 1.5rem;
  width: 1.5rem;
  background-color: #f79f35;
  transform: rotate(45deg);
  position: absolute;
  left: -0.95rem;
  /* border-radius: 1rem; */
}

.Title {
  font-size: 1.2rem;
  font-weight: 700;
  margin: 4px 0;
}

.SubTitle {
  font-size: 1rem;
  margin: 4px 0;
}

.PeriodSegment {
  display: flex;
  flex-direction: row;
  color: rgba(0, 0, 0, 0.5);
  margin: 4px 0;
}

.Period {
  margin: 0;
  font-size: 1rem;
}

.Space {
  margin: 0 8px;
}

.Description {
  width: 115%;
  font-size: 1rem;
  color: rgba(0, 0, 0, 0.5);
}

.ButtonAction {
  display: flex;
}

@media (max-width: 576px) {
  .MapContainer {
    border-left: none;
    padding-left: 0;
    padding-bottom: 2rem;
  }

  .Square {
    display: none;
  }

  .Title {
    font-size: 1rem;
  }

  .SubTitle {
    font-size: 0.9rem;
  }

  .Description {
    width: 150%;
  }

  .TitleBox {
    width: 70%;
  }
}

@media (max-width: 400px) {
  .TitleBox {
    width: 50%;
  }
}
