.MapContainer {
  border-left: solid 0.4rem rgba(58, 81, 153, 1);
  padding-left: 2rem;
  padding-bottom: 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: left;
  position: relative;
}

.TopContent {
  display: flex;
  justify-content: space-between;
}

.Square {
  height: 1.5rem;
  width: 1.5rem;
  background-color: rgba(58, 81, 153, 1);
  transform: rotate(45deg);
  position: absolute;
  left: -0.95rem;
  /* border-radius: 1rem; */
}

.Title {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: -0.5rem;
  margin-top: 0rem;
}

.SubTitle {
  font-size: 1rem;
  margin-bottom: -0.8rem;
}

.PeriodSegment {
  display: flex;
  flex-direction: row;
  color: rgba(0, 0, 0, 0.5);
  margin-bottom: -1rem;
}

.Period {
  font-size: 1rem;
}

.Space {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.Description {
  width: 115%;
  font-size: 1rem;
  color: rgba(0, 0, 0, 0.5);
}

.ButtonAction {
  display: flex;
}

@media (max-width: 576px) {
  .MapContainer {
    border-left: none;
    padding-left: 0;
    padding-bottom: 2rem;
  }

  .Square {
    display: none;
  }

  .Description {
    width: 150%;
  }

  .TitleBox {
    width: 70%;
  }
}

@media (max-width: 400px) {
  .TitleBox {
    width: 50%;
  }
}
