.Wraper {
  background-color: white;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  border-radius: 0.2rem;
  margin-bottom: 24px;
  padding-bottom: 32px;
}

.Header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 32px;
  padding: 4px 16px 4px 16px;
  background-color: #c2d7f2;
  align-items: center;
}

.MapContainer {
  padding: 0 16px 0 32px;
}

.Label {
  font-size: 1.4rem;
  font-weight: bold;
}

.EmptyDescription {
  text-align: center;
  font-weight: 500;
  font-size: 1.5rem;
  color: rgba(0, 0, 0, 0.5);
}

@media (max-width: 576px) {
  .Label {
    font-size: 1rem;
    font-weight: bold;
  }
}
