/* ======== Save Button Default ========= */
.SaveButton {
  align-self: flex-end;
  margin-right: 2.5rem;
  margin-top: 2.5rem;
  width: 8rem;
  height: 2rem;
  border: none;
  border-radius: 1rem;
  color: white;
  background-color: rgba(58, 81, 153, 1);

  font-size: 0.8rem;
  font-weight: 700;
  transition: all 0.5s;
  cursor: pointer;
  outline: none;
}

.SaveButton:disabled {
  color: #ccc;
  cursor: not-allowed;
  background-color: gray;
}

.SaveButton:enabled span {
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.SaveButton:enabled span:after {
  content: '>>';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -2rem;
  transition: 0.5s;
}

.SaveButton:hover:enabled span {
  padding-right: 1.5rem;
}

.SaveButton:hover:enabled span:after {
  opacity: 1;
  right: 0;
}
