.Wraper {
  background-color: white;
  border-radius: 0.2rem;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  margin-bottom: 1rem;
}

.Container {
  padding: 0.6rem 3rem 3rem 3rem;
}

.Container a {
  text-decoration: none;
}

.Header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 2rem;
  margin-bottom: 1.5rem;
}

.Label {
  font-size: 1.7rem;
  font-weight: bold;
}

.Description {
  font-size: 1rem;
  text-align: left;
}

@media (max-width: 576px) {
  .Wraper {
    /* width: 70vh; */
    padding: 0;
  }

  .Container {
    padding: 16px;
  }

  .Header {
    margin-top: 0;
  }

  .Label {
    text-align: left;
  }
}
