.Wraper {
  background-color: white;
  border-radius: 4px;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  margin-bottom: 24px;
  overflow: hidden;
}

.Container a {
  text-decoration: none;
}

.Header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 4px 16px 4px 16px;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #c2d7f2;
}

.Label {
  font-size: 1.4rem;
  font-weight: bold;
}

.Description {
  font-size: 1rem;
  text-align: left;
  padding: 16px;
  line-height: 1.5rem;
}

.EmptyDescription {
  text-align: center;
  font-weight: 500;
  font-size: 1.5rem;
  color: rgba(0, 0, 0, 0.5);
  margin: 1em 0;
}

@media (max-width: 992px) {
  .Header {
    margin-top: 0;
  }
}

@media (max-width: 576px) {
  .Wraper {
    margin-bottom: 16px;
  }
  /*
  .Container {
    padding: 16px;
  }

  .Header {
    margin-top: 0;
  }

  .Label {
    text-align: left;
  } */
}
