.Wraper {
  padding: 2rem 2rem 0rem 2rem;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.Container {
  background-color: white;
  border-radius: 0.2rem;
  display: flex;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  padding: 1rem;
  margin-right: 1rem;
  width: 20%;
}

.Container a {
  text-decoration: none;
}

.ApplicantContainer {
  display: flex;
  flex-direction: column;
}

.ContainerLeft {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.Avatar {
  width: 100%;
  height: 15rem;
  border-radius: 50%;
  background-size: cover;
}

.ContainerLeft a {
  width: 80%;
  height: 15rem;
  align-self: center;
  border-radius: 50%;
  /* border: rgba(58, 81, 153, 0.2) 4px solid; */
}

.ResumeHolder a {
  width: auto;
  height: auto;
  align-self: flex-start;
}

.ContainerLeftDivider {
  display: flex;
  flex-direction: column;
  text-align: left;
  align-items: flex-start;
  width: 100%;
}

.Name {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 0;
}

.Title {
  color: rgba(0, 0, 0, 0.7);
  font-weight: 400;
}

.Address {
  width: 100%;
}

.ProfileLabel {
  width: 100%;
  color: rgba(0, 0, 0, 0.7);
  font-weight: 400;
  padding-bottom: 0.5rem;
  border-bottom: solid 1px rgba(0, 0, 0, 0.6);
}

.Email {
  color: gray;
  font-size: 0.8rem;
  line-height: 0;
}

.ContainerRight {
  align-self: flex-end;
  margin-top: 1rem;
}

.SegmentContainer {
  width: 76%;
}

.InputButton {
  border: none;
  border-radius: 0.2rem;
  background-color: rgba(58, 81, 153, 1);
  color: white;
  outline: none;
  cursor: pointer;
  font-weight: bold;
  width: 8rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}

.InputButtonText {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-size: 0.9rem;
  font-weight: 400;
  color: white;
  line-height: 1.5rem;
}

.SaveResume {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 1rem;
}

.FilePreview {
  font-weight: 400;
  font-size: 0.9rem;
  color: rgba(0, 0, 0, 0.6);
}

.SaveText {
  color: green;
  font-weight: 400;
  display: flex;
  align-items: center;
  cursor: pointer;
  font-size: 0.9rem;
}

.ResumePreview {
  margin-top: 2rem;
  font-size: 0.9rem;
  width: 100%;
}

.ResumePreview a {
  background-color: rgba(58, 81, 153, 1);
  padding: 0.3rem;
  border-radius: 0.2rem;
  width: 32%;
  color: white;
}

.ResumeHolder {
  display: flex;
  flex-direction: column;
  width: 451px;
}

.ResumePicture {
  width: auto;
  max-width: 180px;
  height: 192px;
  background-position: center;
  background-size: cover;
  margin-right: 2rem;
  border: solid 0.5px black;
  margin-bottom: 1rem;
}

@media (max-width: 1200px) {
  .Avatar {
    height: 11rem;
  }
}

@media (max-width: 992px) {
  .Wraper {
    flex-direction: column;
  }

  .Container {
    width: 96.2%;
    margin-bottom: 16px;
  }

  .ApplicantContainer {
    flex-direction: row;
    width: 100%;
  }

  .ContainerLeft {
    flex-direction: row;
    width: 90%;
  }

  .ContainerLeftDivider {
    width: 60%;
  }

  .SegmentContainer {
    width: 100%;
  }

  .Avatar {
    width: 34%;
    height: 95%;
    margin-right: 32px;
    align-self: flex-start;
  }

  .ContainerRight {
    align-self: flex-start;
  }

  .ResumePicture {
    display: none;
  }
}

@media (max-width: 576px) {
  .Container {
    width: 70vh;
  }

  .ApplicantContainer {
    flex-direction: column;
    width: 100%;
  }

  .ContainerLeft {
    flex-direction: column;
    width: 100%;
  }

  .Avatar {
    width: 50%;
    height: 160px;
    margin-right: 0;
  }

  .ContainerLeftDivider {
    width: 100%;
  }

  .ContainerRight {
    align-self: flex-end;
  }
}
