.Wraper {
  background-color: white;
  border-radius: 0.2rem;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  margin-bottom: 1rem;
  width: 100%;
}

.Container {
  padding: 32px;
}

.Header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 1.5rem;
}

.Label {
  font-size: 1.7rem;
  font-weight: bold;
}

.MapContainer {
  display: flex;
  flex-wrap: wrap;
}

.SkillContainer {
  margin: 0 1rem;
  padding: 0.5rem 1rem;
  background-color: rgb(51, 51, 51);
  border-radius: 2rem;
  color: white;
  font-weight: 400;
}

.EmptyDescription {
  text-align: center;
  font-weight: 500;
  font-size: 1.5rem;
  color: rgba(0, 0, 0, 0.5);
}

@media (max-width: 576px) {
  .Container {
    padding: 6px 16px 16px 16px;
  }

  .Header {
    margin-top: 10px;
    margin-bottom: 24px;
  }
}
