.Line {
  border-bottom: solid 0.1rem rgba(0, 0, 0, 0.4);
  margin-left: 2rem;
  margin-right: 2rem;
  padding-bottom: 2rem;
}

.Container {
  margin-left: 5rem;
  margin-right: 5rem;
  size: 90rem;
}

.Header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.Label {
  font-size: 1.7rem;
  font-weight: bold;
}

.MapContainer {
  display: flex;
  flex-wrap: wrap;
}

.SkillContainer {
  margin-left: 1rem;
  margin-right: 1rem;
  padding: 0.5rem;
  padding-left: 2rem;
  padding-right: 2rem;
  background-color: rgb(58, 81, 153, 0.8);
  border: solid 0.1rem rgba(0, 0, 0, 0.3);
  border-radius: 5rem;
  color: white;
  font-weight: bold;
}
