.ContainerFlex {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 32px 0;
}

.Container {
  width: 40rem;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: none;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  border-radius: 0.5rem;
  background-color: white;
  font-family: sans-serif;
  padding: 0.5rem 3rem 1rem 3rem;
}

.Container h2 {
  margin-bottom: 0;
}

.AppealText {
  text-align: justify;
  color: rgba(0, 0, 0, 0.6);
}

.Content {
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  /* padding: 16px 32px; */
  margin-top: 16px;
  width: 100%;
}

.TopContent {
  margin: 32px 0;
  width: 100%;
}

.BottomContent {
  margin-bottom: 32px;
  width: 100%;
}

.ContentTitle {
  font-size: 1.3rem;
  font-weight: 600;
  margin: 0;
  margin-bottom: 20px;
}

.CheckBox {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-align: start;
  margin: 10px 0;
}

.Text {
  margin: 0;
  color: rgba(0, 0, 0, 0.6);
}

.Box {
  width: 16px;
  height: 16px;
  margin: 0;
  margin-right: 10px;
}

.InputDiv {
  margin: 16px 0 0 0;
}
