.Container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 32px 0;
}

.FeedCard {
  margin: 0.5rem;
  width: 60%;
  border-radius: 5px;
  position: relative;
  background-color: white;
  box-shadow: 0 2px 6px -1px rgba(0, 0, 0, 0.2);
}

.Content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 32px;
  text-align: start;
}

.Header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-weight: bold;
}

.FeedContact {
  color: rgba(0, 0, 0, 0.4);
  margin-bottom: 16px;
}

.Date {
  color: rgba(0, 0, 0, 0.8);
  font-size: 0.8rem;
  margin-top: 16px;
}

.DeleteFeed {
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: all 0.1s ease-in;
  outline: none;
}

.DeleteFeed:hover {
  transform: scale(1.5);
}

.Feeds {
  color: rgba(0, 0, 0, 0.6);
  text-align: justify;
}

.ReplyForm {
  width: 100%;
}

.ReplyButton {
  cursor: pointer;
  width: 5rem;
  height: 2rem;
  border-radius: 1rem;
  background-color: rgba(58, 81, 153, 0.8);
  color: white;
  font-weight: bold;
  border: none;
  outline: none;
  margin-top: 1rem;
}

.EmptyText {
  font-size: 1.5rem;
  width: 100%;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  position: absolute;
  top: 40%;
  font-weight: bold;
}

@media (max-width: 1200px) {
  .FeedCard {
    width: 80%;
  }
}

@media (max-width: 768px) {
  .Container {
    padding: 24px;
  }
  .FeedCard {
    width: 100%;
  }
}
