.FlexWrap {
  box-sizing: border-box;
  width: 50%;
  padding: 12px;
}

.JobCard {
  box-sizing: border-box;
  display: flex;
  width: 100%;
  height: 180px;
  padding: 20px;
  border-radius: 5px;
  position: relative;
  border: none;
  border: 1px solid rgba(0, 0, 0, 0.2);
  background-color: white;
  overflow: hidden;
}

.Logo {
  height: 8rem;
  width: 8rem;
  border: none;
  background-size: contain;
  background-position: center center;
  box-sizing: border-box;
  cursor: pointer;

  /* width: 100%;
  height: 15rem;
  border-radius: 50%;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat; */
}

.Logo img {
  width: 8rem;
  height: 8rem;
  background-size: cover;
  background-position: center;
}

.Content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 100%;
  width: 75%;
  margin-left: 10%;
  text-align: start;
  overflow: hidden;
}

.Content > * {
  margin: 0;
}

.Content h3 {
  margin: 0 0 1rem 0;
}

.Content > h3:hover {
  cursor: pointer;
  color: rgb(84, 103, 161, 1);
  border-bottom: solid 1px rgb(84, 103, 161, 1);
}

.ContentHeader {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.TopContent {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 2.6rem;
  text-align: left;
}

.TextLeft {
  font-weight: bold;
  color: rgb(84, 103, 161, 1);
}

.TextSecret {
  font-weight: bold;
  color: rgba(0, 0, 0, 0.8);
}

.PlacementLocation {
  font-weight: 400;
  color: rgba(0, 0, 0, 0.7);
}

.FieldOfWork {
  margin-block-start: -0.3rem;
  margin-block-end: -0.7rem;
}

.BottomContent {
  font-size: 0.9rem;
  font-style: italic;
  color: rgba(0, 0, 0, 0.5);
  padding-bottom: 8px;
}

.JobCard > footer {
  background: rgba(58, 81, 153, 1);
  width: 100%;
  position: absolute;
  bottom: 0;
  height: 20px;
  margin-left: -20px;
}

.InstantSubmit {
  width: fit-content;
  position: absolute;
  bottom: 1.7rem;
  right: 1.2rem;
}

.PlacementLocationProps {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 20%;
}

@media (max-width: 992px) {
  .FlexWrap {
    width: 100%;
  }
}

@media (max-width: 400px) {
  .Logo {
    width: 100%;
    height: auto;
    margin-bottom: 16px;
    border-bottom: solid 1px black;
    padding-bottom: 16px;
  }

  .Logo img {
    width: 100%;
    height: auto;
  }

  .JobCard {
    box-sizing: border-box;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 100%;
  }

  .Content {
    overflow: visible;
    margin-left: 0;
    width: 100%;
  }

  .JobCard > footer {
    margin-left: 0;
  }
}
