.Container {
  display: flex;
  flex-direction: row;
  font-family: sans-serif;
  margin-top: 8rem;
  margin-bottom: 5rem;
}

.LeftContainer {
  display: flex;
  flex-direction: column;
  width: 60rem;
  margin-left: 6rem;
  margin-right: 2rem;
}

.RightContainer {
  display: flex;
  flex-direction: column;
  margin-right: 6rem;
  width: 40rem;
  border: solid 0.01rem rgba(0, 0, 0, 0.4);
}

.UpperContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  border-bottom: solid 0.1rem rgba(0, 0, 0, 0.6);
  padding-bottom: 1rem;
}

.Logo {
  height: 10rem;
  margin-right: 2rem;
}

.ContainerIntro {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 10rem;
  width: 100%;
}

.JobTitle {
  align-self: flex-start;
  font-weight: bold;
  font-size: 1.8rem;
  margin-bottom: -0.3rem;
}

.ContainerFirst {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  color: rgba(0, 0, 0, 0.6);
}

.TextLeft {
  margin-right: 1rem;
  text-decoration: none;
}

.TextMiddle {
  margin-left: 1rem;
  margin-right: 1rem;
}

.TextRight {
  margin-left: 1rem;
}

.ContainerSecond {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-top: -1rem;
  color: rgba(0, 0, 0, 0.6);
}

.ContainerThird {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: rgba(0, 0, 0, 0.6);
  box-sizing: border-box;
  width: 100%;
}

.TextDate {
  font-size: 0.8rem;
  color: rgba(0, 0, 0, 0.6);
}

.ButtonContainer {
  display: flex;
  justify-content: space-around;
  width: 30%;
}

.ButtonContainer > * {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-decoration: none;
}

.InstantButton {
  background-color: transparent;
  border: none;
  color: rgba(58, 81, 153, 1);
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  outline: none;
}

.DeleteButton {
  color: maroon;
}

.JobDesc {
  padding-bottom: 1rem;
  border-bottom: solid 0.1rem rgba(0, 0, 0, 0.6);
}

.TextLabel {
  margin-top: 2rem;
  font-size: 1.4rem;
  font-weight: bold;
  text-align: left;
  color: rgba(0, 0, 0, 0.8);
}

.TextDetail {
  margin-top: 2rem;
  margin-left: 2rem;
  width: 55rem;
  text-align: left;
}

.AboutLabel {
  margin-left: 1rem;
  font-size: 1rem;
  font-weight: bold;
  text-align: left;
  color: rgba(0, 0, 0, 0.7);
  margin-bottom: 2rem;
}

.AboutText {
  font-size: 0.9rem;
  margin-left: 1rem;
  margin-right: 1rem;
  padding-bottom: 2rem;
  text-align: left;
  border-bottom: solid 0.1rem rgba(0, 0, 0, 0.6);
}
