.QueryBar {
	width: 100%;
	display: flex;
	justify-content: space-around;
	padding: .5rem 0;
	height: 2rem;
}

.SearchForm {
	display: flex;
	margin-right: -3rem;
}

.SearchContainer {
	width: 30%;
}

.ButtonContainer {
	align-self: center;
}
