.QueryBar {
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding: 0.5rem 0;
}

.SearchContainer {
  width: 45%;
  background-color: white;
  padding: 0 32px;
  box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%),
    0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
  border-radius: 4px;
}

.SearchForm {
  width: 100%;
  display: flex;
  margin-right: -3rem;
}

.ButtonContainer {
  width: 40%;
  align-self: center;
  display: flex;
}

@media (max-width: 768px) {
  .SearchContainer {
    width: 60%;
  }
}

@media (max-width: 400px) {
  .QueryBar {
    padding: 0;
  }

  .SearchForm {
    margin-right: 0;
  }

  .SearchContainer {
    width: 60%;
  }

  .ButtonContainer {
    width: 40%;
  }
}
