.Container {
  padding: 32px 24px;
}

.ContainerFlex {
  display: flex;
  border-radius: 4px;
  overflow: hidden;
  box-shadow: 0px 2px 2px 1px rgb(0 0 0 / 30%), 0px 1px 1px 0px rgb(0 0 0 / 24%), 0px 1px 3px 0px rgb(0 0 0 / 22%);
}

.PageContainer {
  width: 20%;
  display: flex;
  flex-direction: column;
  background-color: #f79f35;
}

.PageHeader {
  font-weight: 500;
  font-size: 1.5rem;
  color: white;
  letter-spacing: 0.1rem;
  border-bottom: solid 0.1rem rgba(0, 0, 0, 0.3);
  padding: 8px 0;
  margin: 0 24px;
}
.PageHeader p {
  margin: 0;
}

.DetailContainer {
  display: flex;
  flex-direction: column;
  padding: 1rem 2rem 0rem 2rem;
  color: white;
}

.DescHolder {
  display: flex;
  flex-direction: column;
  text-align: left;
  line-height: 0;
  margin-bottom: 1rem;
  font-size: 0.85rem;
}

.DescLabel {
  font-size: 0.9rem;
  margin-bottom: 0.7rem;
  color: rgb(251, 255, 0);
}

.InputContainer {
  display: flex;
  flex-direction: column;
  width: 80%;
  background-color: white;
  padding: 1rem;
  overflow-x: hidden;
  align-items: center;
}

.InputField {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  width: 90%;
}

.CandidateInput {
  box-sizing: border-box;
  margin: 0 4px;
  width: 25%;
}

.CadidateContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
}

.CandidateCard {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 0.9rem;
  border-bottom: solid 0.05rem rgba(0, 0, 0, 0.2);
  margin: 0 2rem 0.5rem 2rem;
}

.CandidateHead {
  display: flex;
  justify-content: space-between;
  text-align: left;
}

.DeleteCandidate {
  display: flex;
  align-items: center;
}

.CandidateBody {
  display: flex;
  text-align: left;
  line-height: 0.3rem;
  justify-content: space-between;
  align-items: flex-start;
}

.CandidateContact {
  width: 7rem;
  font-size: 0.8rem;
  margin-right: 2rem;
  color: rgb(100, 100, 100);
}

.ReplyInput {
  display: flex;
  margin-right: 1.4rem;
}

.DropDown {
  display: flex;
  justify-content: center;
  align-items: center;
}

.DropButton {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 0.8rem;
}

.DropDownContent {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  box-shadow: 0rem 0.8rem 1rem 0rem rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.DropDownContent button {
  background-color: transparent;
  border: none;
  display: block;
  padding: 0.5rem;
  width: 5rem;
  font-weight: 700;
  outline: none;
  cursor: pointer;
}

.DropDownContent button:hover {
  border: none;
  background-color: rgb(236, 236, 236);
}

.DropDown:hover .DropDownContent {
  display: block;
}

.DropDown:hover .DropButton {
  background-color: #d7e2ff;
}

.CandidateNote {
  display: flex;
  align-items: center;
}

.NoteText {
  color: gray;
  margin-right: 2rem;
  line-height: normal;
}

@media (max-width: 1200px) {
  .Container {
    padding: 32px 2%;
  }
}

@media (max-width: 992px) {
  .Container {
    flex-direction: column;
    align-items: center;
  }

  .PageContainer {
    width: 90%;
    margin: 0;
    margin-bottom: 16px;
  }

  .InputContainer {
    width: 90%;
    padding: 0;
  }
}

@media (max-width: 576px) {
  .Container {
    padding: 0;
  }

  .PageContainer {
    width: 100%;
    border-radius: 0;
  }

  .InputContainer {
    width: 100%;
    border-radius: 0;
  }

  .InputField {
    flex-direction: column;
    align-items: center;
  }

  .Button {
    margin-top: 16px;
  }
}

@media (max-width: 400px) {
}
