.FlexContainer {
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
}

.Container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.HeaderContainer {
  width: 80%;
  display: flex;
  justify-content: space-between;
}

.Header {
  align-self: flex-start;
}

.TableHolder {
  overflow-y: hidden;
  margin-bottom: 2rem;
  border-radius: 6px;
  width: 80%;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.Table {
  width: 100%;
  border-collapse: collapse;
  box-shadow: 0 0 15px rgb(0, 0, 0, 0.2);
  background-color: white;
}

.Table th {
  padding: 1rem;
  text-align: left;
  font-weight: normal;
}

.Table tr {
  align-items: center;
  border-bottom: solid 1px rgba(0, 0, 0, 0.2);
}

.RowField th {
  background-color: #d7e2ff;
  font-weight: bold;
  background-color: rgba(58, 81, 153, 1);
  color: white;
}

.ColumnField {
  font-size: 0.85rem;
}

.DropButton {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-weight: bold;
  font-size: 1rem;
}

.DropDown {
  position: relative;
  display: inline-block;
  align-self: center;
}

.DropDownContent {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  box-shadow: 0rem 0.8rem 1rem 0rem rgba(0, 0, 0, 0.2);
  z-index: 1;
  right: 0px;
  bottom: -3px;
}

.DropDownContent button {
  background-color: transparent;
  border: none;
  display: block;
  padding: 10px;
  width: 96px;
  font-weight: bold;
  outline: none;
  cursor: pointer;
}

.DropDownContent button:hover {
  border: none;
  background-color: rgb(236, 236, 236);
}

.DropDown:hover .DropDownContent {
  display: flex;
}

.DropDown:hover .DropButton {
  background-color: #d7e2ff;
}

.EmptyText {
  font-size: 1.5rem;
  width: 100%;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  position: absolute;
  top: 40%;
  font-weight: bold;
}

@media (max-width: 992px) {
  .Header {
    margin-left: 5%;
  }

  .TableHolder {
    width: 90%;
  }
}

@media (max-width: 576px) {
  .DropDown {
    align-self: flex-start;
  }

  .HeaderContainer {
    width: 80%;
    flex-direction: column;
    margin-bottom: 16px;
    outline: none;
  }

  .Header {
    width: 100%;
    font-size: 20px;
  }

  .RowField th {
    padding: 8px 14px;
    text-align: center;
  }
}
