.FlexContainer {
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
}

.Container {
  display: flex;
  flex-direction: column;
  align-self: center;
  width: 80%;
}

.HeaderContainer {
  display: flex;
  justify-content: space-between;
}

.Header {
  align-self: flex-start;
}

.Table {
  border-collapse: collapse;
  box-shadow: 0 0 0.5rem 0.01rem rgb(146, 146, 146);
}

.Table th {
  padding-left: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  text-align: left;
  font-weight: normal;
}

.Table tr {
  align-items: center;
}

.Table tr:nth-child(even) {
  background-color: #d7e2ff;
}

.RowField th {
  background-color: #d7e2ff;
  font-weight: bold;
  border-bottom: 0.05rem solid rgb(104, 102, 102);
}

.ColumnField {
  font-size: 0.85rem;
}

.DropButton {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-weight: bold;
  font-size: 1rem;
}

.DropDown {
  position: relative;
  display: inline-block;
  align-self: center;
}

.DropDownContent {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  box-shadow: 0rem 0.8rem 1rem 0rem rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.DropDownContent button {
  background-color: transparent;
  border: none;
  display: block;
  padding: 1rem;
  width: 8rem;
  font-weight: bold;
  outline: none;
  cursor: pointer;
}

.DropDownContent button:hover {
  border: none;
  background-color: rgb(236, 236, 236);
}

.DropDown:hover .DropDownContent {
  display: block;
}

.DropDown:hover .DropButton {
  background-color: #d7e2ff;
}
