.MainHeader {
  width: 100%;
  margin: auto;
  height: 64px;
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  background: #d7e2ff;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
  padding: 0 1rem;
  z-index: 5;
  box-sizing: border-box;
}

@media screen and (min-width: 768px) {
  .MainHeader {
    justify-content: space-between;
    padding: 0 1.5rem;
  }
}
