.MainDrawer {
  width: 100%;
  margin: 0;
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  padding: 10px 20px;
  background: #ffffffea;
  z-index: 10;
  box-sizing: border-box;
  justify-content: space-between;
  border-bottom: 1px solid #f79f35;
}
