.MenuBtn {
  width: 3rem;
  height: 3rem;
  background: transparent;
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-right: 2rem;
  cursor: pointer;
  outline: none;
}

.MenuBtn span {
  display: block;
  width: 3rem;
  height: 4px;
  background: rgba(58, 81, 153, 1);
  border-radius: 5px;
}

.Title {
  color: rgba(58, 81, 153, 1);
}

.Title a {
  text-decoration: none;
  color: rgba(58, 81, 153, 1);
}

.HeaderNav {
  display: none;
  /* width: 560px;
  position: relative; */
}

.DrawerNav {
  height: 100%;
}

@media (min-width: 992px) {
  .MenuBtn {
    display: none;
  }

  .HeaderNav {
    display: block;
  }
}
