.MenuBtn {
  display: none;
}

.HeaderNav {
  display: block;
}

.Title {
  color: #f79f35;
}

.Title a {
  text-decoration: none;
  color: #f79f35;
}

@media (max-width: 1080px) {
  .MenuBtn {
    width: 3rem;
    height: 3rem;
    background: transparent;
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-right: 2rem;
    cursor: pointer;
    outline: none;
  }

  .MenuBtn span {
    display: block;
    width: 3rem;
    height: 4px;
    background: #f79f35;
    border-radius: 5px;
  }
  .HeaderNav {
    display: none;
    /* width: 560px;
    position: relative; */
  }

  .DrawerNav {
    height: 100%;
  }
}
