.ContentContainer {
  display: flex;
  justify-content: space-between;
  h2 {
    text-align: start;
    font-style: italic;
  }

  .TabPanel {
    padding: 0;
  }
  padding: 0 0 20px;
}
.Container {
  padding: 0 24px;
  .CompanyJobListContainer {
    width: 100%;
    max-width: 1000px;
    box-sizing: border-box;
    & > * {
      width: 100%;
      max-width: 1100px;
    }
  }
}
