.ContentContainer {
  display: flex;
  justify-content: space-between;
}

.CompanyProfileContainer {
  padding: 0 24px;
  min-height: 800px;
}

@media screen and (max-width: 1200px) {
  .ExecutiveSearchBanner {
    display: none;
  }
}
