.ContactUsContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.ContactUsForm {
  width: 30rem;
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  background-color: white;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  border-radius: 0.5rem;
  padding: 0.5rem 2rem 2rem 2rem;
  margin-top: 3rem;
}

.ContactUsForm > * {
  margin: 0.3rem 0;
}

.Footer {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-top: 1rem;
}

@media (max-width: 576px) {
  .ContactUsForm {
    border-radius: 0;
  }

  .ContactUsForm {
    margin: 0;
    margin-bottom: 16px;
  }
}
