.Container {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  font-family: sans-serif;
}
.OrderCard {
  margin-right: 2rem;
}

.CardHolder {
  width: 20rem;
  height: 35rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0 0 0.5rem 0.1rem rgb(107, 107, 107);
  transition: all 0.5s;
}

.CardHolder:hover {
  width: 20rem;
  height: 35rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0 0 1rem 0.01rem rgb(3, 3, 3);
}

.CardHeader {
  color: white;
  padding: 1rem 2rem 2rem 2rem;
  font-weight: bold;
  letter-spacing: 0.1rem;
}

.Title {
  font-size: 1.7rem;
}

.Perks {
  line-height: 0.5rem;
}

.Price {
  font-size: 1.2rem;
}

.Slot {
  font-size: 0.9rem;
  color: rgb(255, 255, 255);
}

.InputAmount {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.8rem;
  margin-bottom: -1rem;
}

.Label {
  margin-right: 1rem;
}

.CardContent {
  height: 14rem;
  text-align: left;
  font-size: 1rem;
  line-height: 2rem;
  overflow-x: hidden;
}

.SlotPrice {
  font-size: 1rem;
}

.SlotPrice span {
  font-size: 1.2rem;
  font-weight: bold;
  margin-right: 1rem;
}

.PurchaseButton {
  width: 18rem;
  height: 3rem;
  color: white;
  background-color: rgba(58, 81, 153, 1);
  font-size: 1.1rem;
  font-weight: bold;
  margin: 1rem;
  outline: none;
  border: none;
  cursor: pointer;
}
