.Container {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-bottom: 16px;
}

.PackageList {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 12px;
}

.PackageCard {
  box-sizing: border-box;
  width: 25%;
  padding: 0 12px;
}

.FormContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border: none;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14),
    0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  border-radius: 0.2rem;
  background-color: white;
  margin-top: 2rem;
  line-height: 1rem;
  font-size: 1rem;
  padding: 0.5rem 1.5rem 2rem 1.5rem;
}

.InputAmount {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.Label {
  width: 70%;
  margin: 0;
  text-align: start;
  vertical-align: baseline;
}

.SlotEqual {
  width: 100%;
  margin: 0 0 16px 0;
  font-weight: 400;
  font-size: 0.8rem;
  color: red;
  text-align: left;
}

.InputSlot {
  width: 30%;
  overflow: hidden;
}

.PricePerSlot span {
  color: black;
}

.PPHDiv {
  margin-top: 8px;
  text-align: left;
}

.Question {
  margin: 0;
  width: 555px;
  line-height: 1.2rem;
}

.Question span {
  font-weight: 700;
}

.CheckBox {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-align: start;
  margin-top: 16px;
}

.Box {
  width: 16px;
  height: 16px;
  margin: 0;
  margin-right: 10px;
}

.Text {
  margin: 0;
  font-size: 0.9rem;
}

.SubmitButton {
  width: 100%;
  max-width: 200px;
  margin-top: 20px;
  min-height: 30px;
  background-color: #f79f35;
  font-size: 16px;
  font-weight: 700;
  border: none;
  box-shadow: 1px 1px 2px #000;
  &:disabled {
    background-color: #cecece;
  }
}

@media (max-width: 992px) {
  .PackageList {
    flex-wrap: wrap;
  }
}

@media (max-width: 768px) {
  .Container {
    padding-bottom: 32px;
    margin: 0;
  }

  .PackageCard {
    width: 50%;
  }

  .FormContainer {
    font-size: 0.8rem;
  }

  .Text {
    font-size: 0.8rem;
    line-height: 1rem;
  }
}

@media (max-width: 576px) {
  .Container {
    padding-bottom: 0;
  }

  .PackageList {
    justify-content: center;
  }

  .FormContainer {
    line-height: 1.5rem;
    border-radius: 0;
  }

  .Question {
    margin: 0;
    width: auto;
    line-height: 1.2rem;
  }

  .Box {
    width: 24px;
    height: 24px;
  }

  .PackageCard {
    padding: 0 8px;
  }
}
