.Container {
  margin: 32px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: sans-serif;
}

.PackageList {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 12px;
}

.PackageCard {
  box-sizing: border-box;
  width: 25%;
  padding: 0 12px;
}

.FormContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border: none;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  border-radius: 0.2rem;
  background-color: white;
  margin-top: 2rem;
  line-height: 1rem;
  font-size: 1rem;
  padding: 0.5rem 1.5rem 2rem 1.5rem;
}

.InputAmount {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.Label {
  width: 70%;
  margin: 0;
  text-align: start;
  vertical-align: baseline;
}

.SlotEqual {
  width: 100%;
  margin: 0;
  /* text-align: start; */
  font-weight: 600;
  color: rgba(0, 0, 0, 0.6);
}

.InputSlot {
  width: 30%;
  overflow: hidden;
}

.PricePerSlot span {
  color: black;
}

.PurchaseButton {
  margin-top: 1rem;
  width: 25rem;
  height: 3rem;
  color: white;
  background-color: rgba(58, 81, 153, 1);
  font-size: 1rem;
  font-weight: bold;
  outline: none;
  border: none;
  cursor: pointer;
  border-radius: 0.2rem;
}

@media (max-width: 992px) {
  .PackageList {
    flex-wrap: wrap;
  }
}

@media (max-width: 768px) {
}

@media (max-width: 576px) {
  .FormContainer {
    border-radius: 0rem;
    line-height: 1.5rem;
  }
}
