.Container {
  margin-top: 2rem;
  font-family: 'Roboto';
}

.OrderCard {
  /* width: 20%; */
  background-color: white;
  cursor: pointer;
}

.CardHolder {
  width: 100%;
  height: 20rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0 2px 10px -1px rgb(0, 0, 0, 0.2);
  transition: all 0.5s;
  border-radius: 0.2rem;
  overflow: hidden;
}

.CardHeader {
  color: white;
  padding: 1.6px 8px 16px 8px;
  font-weight: bold;
  letter-spacing: 0.1rem;
}

.Title {
  font-size: 1.7rem;
}

.Perks {
  line-height: 0.5rem;
}

.Price {
  font-size: 1.2rem;
}

.Slot {
  font-size: 1.1rem;
  color: rgb(255, 255, 255);
}

.CardContent {
  height: 14rem;
  text-align: left;
  font-size: 1rem;
  line-height: 2rem;
  padding: 1.6px 16px 16px 0;
}

@media (max-width: 768px) {
  .OrderCard {
    margin-right: 0px;
  }
}
