.Container {
  margin-top: 2rem;
}

.OrderCard {
  margin-right: 2rem;
}

.CardHolder {
  width: 20rem;
  height: 30rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0 0 0.5rem 0.1rem rgb(107, 107, 107);
  transition: all 0.5s;
}

.CardHolder:hover {
  box-shadow: 0 0 1rem 0.01rem rgb(3, 3, 3);
}

.CardHeader {
  color: white;
  padding: 1rem 2rem 2rem 2rem;
  font-weight: bold;
  letter-spacing: 0.1rem;
}

.Title {
  font-size: 1.7rem;
}

.Perks {
  line-height: 0.5rem;
}

.Price {
  font-size: 1.2rem;
}

.Slot {
  font-size: 0.9rem;
  color: rgb(255, 255, 255);
}

.CardContent {
  height: 14rem;
  text-align: left;
  font-size: 1rem;
  line-height: 2rem;
}
