.Container {
  margin-top: 32px;
}

.OrderCard {
  background-color: white;
  cursor: pointer;
}

.CardHolder {
  width: 100%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: all 0.2s;
  border-radius: 0.2rem;
  overflow: hidden;
  box-shadow: 2px 2px 5px #000;
  &:hover {
    box-shadow: 2px 2px 15px #000;
  }
}

.CardHeader {
  padding: 1.6px 8px 16px 8px;
  font-weight: 700;
  font-family: 'Lato', sans-serif;
}
.Bronze {
  background: linear-gradient(to bottom right, #fff 0%, #cd7f32 40%);
}
.Silver {
  background: linear-gradient(to bottom right, #fff 0%, #c0c0c0 40%);
}
.Gold {
  background: linear-gradient(to bottom right, #fff 0%, #ffd700 40%);
}
.Platinum {
  background: linear-gradient(to bottom right, #fff 0%, #e5e4e2 40%);
}

.Title {
  font-size: 1.7rem;
}

.Perks {
  line-height: 0.5rem;
}

.Price {
  font-size: 1.2rem;
}

.Slot {
  font-size: 32px;
}

/* .CardContent {
  height: 14rem;
  text-align: left;
  font-size: 1rem;
  line-height: 2rem;
  padding: 1.6px 16px 16px 0;
} */

@media (max-width: 768px) {
  .OrderCard {
    margin-right: 0px;
  }
}

@media (max-width: 480px) {
  .Container {
    margin-top: 16px;
  }

  .CardHeader {
    font-weight: 400;
  }

  .Title {
    font-size: 1.4rem;
  }

  .Price {
    font-size: 1rem;
  }

  .Slot {
    font-size: 0.9rem;
  }
}
