.Content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 5rem;
  height: 34rem;
}

.ContentHolder {
  text-align: justify;
  width: 70%;
  color: white;
}

.About {
  font-size: 1.2rem;
  margin-bottom: 5rem;
}

.Margin {
  margin-top: 2rem;
}

.LinkRef {
  width: fit-content;
  font-size: 2rem;
  font-weight: bold;
}

.LinkRef a:hover {
  color: white;
}

.LinkRef a {
  text-decoration: none;
  color: rgba(58, 81, 153, 1);
}
