.Content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0rem 5rem;
  height: calc(100vh - 64px);
  overflow: hidden;
}

.ContentHolder {
  text-align: justify;
  width: 55%;
  color: white;
  z-index: 1;
}

.About {
  font-size: 1.3rem;
  margin-bottom: 5rem;
}

.AuthForm {
  margin-top: 2rem;
  width: 30%;
  z-index: 1;
}

.LinkRef {
  width: fit-content;
  font-size: 2rem;
  font-weight: bold;
}

.LinkRef a:hover {
  color: rgba(58, 81, 153, 1);
}

.LinkRef a {
  text-decoration: none;
  color: #d7e2ff;

  /* text-shadow: 1px 1px 0 rgb(0, 0, 0); */
}

.SmallAbout {
  background-color: white;
  display: none;
}

.Container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.SelectorContainer {
  width: 22rem;
  height: 27rem;
  display: flex;
  flex-direction: column;
  border: none;
  border-radius: 1rem;
  background-color: white;
  font-family: sans-serif;
  overflow: hidden;
  justify-content: space-around;
  background-color: black;
}

.SelectorSection {
  display: flex;
  height: 33%;
  align-items: center;
  justify-content: center;
  border: 1px rgba(0, 0, 0, 0.1) solid;
  font-size: 1.3rem;
  letter-spacing: 0.5px;
  cursor: pointer;
  color: rgba(58, 81, 153, 1);
  font-weight: bold;
}

.SelectorSection:hover {
  opacity: 0.95;
}

@media (max-width: 1200px) {
  .AuthForm {
    width: 33%;
  }
}

@media (max-width: 992px) {
  .Content {
    display: flex;
    flex-direction: column;
    height: 30rem;
    padding-bottom: 10px;
  }

  .ContentHolder {
    width: 0;
    height: 0;
    overflow: hidden;
  }

  .LinkRef {
    visibility: hidden;
  }

  .AuthForm {
    margin-top: -2rem;
    width: 50%;
  }

  .SmallAbout {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 1rem 2rem 3rem 2rem;
  }
}

@media (max-width: 768px) {
  .Content {
    height: 30rem;
  }

  .AuthForm {
    width: 50%;
  }
}

@media (max-width: 576px) {
  .AuthForm {
    width: 20rem;
  }

  .SmallAbout {
    padding-bottom: 3rem;
  }
}
