.Content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0rem 5rem;
  height: calc(100vh - 64px);
  overflow: hidden;
}

.ContentHolder {
  text-align: justify;
  width: 55%;
  color: white;
  z-index: 1;
}

.About {
  font-size: 1.3rem;
  margin-bottom: 3rem;
  line-height: 2rem;
}

.About p {
  margin: 0;
}

.AuthForm {
  margin-top: 2rem;
  width: 30%;
  z-index: 1;
}

.LinkRef {
  width: fit-content;
  background-color: white;
  border-radius: 5px;
}

.LinkRef a {
  text-decoration: none;
  color: white;
  /* text-shadow: 1px 1px 0 rgb(0, 0, 0); */
}

.Explore {
  background-color: rgba(58, 81, 153, 0.95);
  padding: 5px 15px;
  border-radius: 4px;
  font-size: 1.5rem;
  font-weight: bold;
}

.LinkRef:hover {
  background-color: black;
}

.SmallAbout {
  background-color: white;
  display: none;
}

@media (max-width: 1200px) {
  .AuthForm {
    width: 33%;
  }
}

@media (max-width: 992px) {
  .Content {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .ContentHolder {
    width: 0;
    height: 0;
    overflow: hidden;
  }

  .LinkRef {
    visibility: hidden;
  }

  .AuthForm {
    width: 50%;
    margin-top: 0;
  }

  .SmallAbout {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 16px 32px;
  }
}

@media (max-width: 768px) {
  .AuthForm {
    width: 80%;
  }
}

@media (max-width: 576px) {
  .Content {
    padding: 10px 10px;
  }

  .AuthForm {
    width: 100%;
  }

  .About {
    font-size: 1rem;
    margin-bottom: 0;
  }

  .SmallAbout {
    padding-bottom: 1rem;
  }
}
