.Container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Container a {
  text-decoration: none;
  color: black;
}

.Header {
  width: 100%;
  display: flex;
  justify-content: center;
  border: solid 0.1rem rgba(0, 0, 0, 0.274);
  background-color: rgba(58, 81, 153, 1);
}

.OrderHeader {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 0 1rem 0 1rem;
  background-color: rgba(58, 81, 153, 1);
  width: 60rem;
  height: 4rem;
  font-weight: bold;
  color: white;
}

.OrderCard {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 0 1rem 0 1rem;
  margin-top: 1.5rem;
  box-shadow: 0 0 0.1rem 0.1rem rgb(214, 214, 214);
  border-radius: 3rem;
  background-color: #d7e2ff;
  width: 60rem;
  height: 4rem;
  font-size: 1rem;
  transition: 0.5s;
}

.OrderCard:hover {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 0 1rem 0 1rem;
  margin-top: 1.5rem;
  box-shadow: 0 0 0.2rem 0.1rem rgb(156, 156, 156);
  border-radius: 3rem;
  background-color: #d7e2ff;
  width: 60rem;
  height: 4rem;
  font-size: 1rem;
}

.Content {
  width: 9rem;
}

.ContentId {
  width: 9rem;
  margin-right: 5rem;
}

.ContentIdLabel {
  width: 9rem;
  margin-right: 2rem;
  margin-left: 3rem;
}
