.Container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(250, 250, 250);
}

.Container a {
  text-decoration: none;
  color: black;
}

.Table {
  width: 80%;
  border-collapse: collapse;
  box-shadow: 0 0 15px rgb(0, 0, 0, 0.2);
  background-color: white;
  border-radius: 10px;
  margin-top: 2rem;
  overflow: hidden;
}

.Table tr {
  align-items: center;
  border-bottom: solid 1px rgba(0, 0, 0, 0.2);
}

.Table th {
  text-align: left;
  font-weight: normal;
}

Table tr:first-child th:first-child,
Table.Info tr:first-child td:first-child {
  border-top-left-radius: 6px;
}

Table tr:first-child th:last-child,
Table.Info tr:first-child td:last-child {
  border-top-right-radius: 6px;
}

Table tr:last-child td:last-child {
  border-bottom-right-radius: 6px;
}

.RowField th {
  padding: 1rem;
  background-color: #d7e2ff;
  font-weight: 500;
  background-color: rgba(58, 81, 153, 1);
  color: white;
}

.ColumnField th {
  font-size: 0.85rem;
  padding: 0 1rem 0 1rem;
}

.ColumnField tr:hover {
  background-color: rgba(170, 170, 170, 0.1);
}
