$primaryColor: #f79f35;
.JobDetailsContainer {
  display: flex;
  flex-direction: row;

  padding: 3rem 4rem;
  box-sizing: border-box;
}

.JobContainer {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin-right: 2rem;
  background-color: white;
  padding: 2rem;
  border-radius: 0.5rem;
  box-shadow: 0px 2px 1px -1px #71430b, 0px 1px 1px 0px #71430b, 0px 1px 3px 0px #71430b;
}

.AboutCompanyContainer {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  width: 30%;
  box-shadow: 0px 2px 1px -1px #71430b, 0px 1px 1px 0px #71430b, 0px 1px 3px 0px #71430b;
  border-radius: 0.5rem;
  padding: 16px;
  background-color: white;
}

.HeaderContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  border-bottom: solid 1px #71430b;
  padding-bottom: 1rem;
  .LogoContainer {
    display: flex;
    align-items: flex-start;
    img {
      width: 100%;
      max-width: 200px;
      height: auto;
    }
  }
  .JobMetaData {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 70%;
    .JobHeader {
      display: flex;
      justify-content: space-between;
      align-items: center;
      p {
        margin: 0;
      }
      .JobTitle {
        font-weight: 700;
        font-size: 1.5rem;
        text-align: start;
      }
    }
    .Details {
      font-size: 1rem;
      text-align: start;
      margin: 0 0 5px;
    }
    .MetaData {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      font-size: 0.8rem;
      margin-top: 30px;
      .CompanyName {
        color: #71430b;
      }
      a {
        text-decoration: none;
      }
      p {
        margin: 0 0 5px;
      }
    }
  }
}

.ActionButtonContainer {
  display: flex;
  justify-content: flex-end;
  box-sizing: border-box;
  width: 100%;
  .EditContainer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    max-width: 200px;
    a {
      text-decoration: none;
    }
    .EditButton,
    .ApplyButton,
    .ReleaseButton {
      background-color: transparent;
      border: none;
      display: flex;
      align-items: center;
      font-size: 16px;
      font-weight: 700;
      cursor: pointer;
      outline: none;
      padding: 0;
      margin-left: 20px;
    }
    .EditButton {
      color: #71430b;
    }
    .ApplyButton {
      color: #f79f35;
    }
    .ReleaseButton {
      color: green;
    }
  }
}

.LowerContainer {
  margin-top: 16px;
}

.SectionDesc {
  display: flex;
  justify-content: space-between;
  border-bottom: solid 1px #71430b;
  padding-bottom: 16px;
}

.SectionDiv {
  text-align: left;
  width: 25%;
  border-right: solid 1px #71430b;
  padding: 0 16px;
  &:nth-child(4) {
    border: none;
  }
}

.Caption {
  font-size: 0.9rem;
  // font-weight: 600;
  margin: 0;
  color: rgba(0, 0, 0, 0.8);
}

.TextMiddle {
  margin-left: 1rem;
  margin-right: 1rem;
}

.TextRight {
  margin-left: 1rem;
}

.TextDate {
  font-size: 0.8rem;
  color: rgba(0, 0, 0, 0.6);
}

.TextDateMobile {
  display: none;
}

.DeleteButton {
  color: maroon;
}

.JobDesc {
  border-bottom: solid 1px #71430b;
  ul {
    list-style: none;
    padding: 0;
  }
  p,
  li {
    word-break: break-all;
    white-space: normal;
    text-align: start;
  }
}

.TextLabel {
  margin: 16px 0 0 0;
  font-size: 1.2rem;
  font-weight: 700;
  text-align: left;
  color: rgba(0, 0, 0, 0.8);
}

.TextDetail {
  margin: 1rem 0;
  width: 90%;
  text-align: left;
}

.AboutLabel {
  margin-left: 1rem;
  font-size: 1rem;
  font-weight: 700;
  text-align: left;
  color: rgba(0, 0, 0, 0.7);
  margin-bottom: 2rem;
}

.AboutText {
  font-size: 0.9rem;
  margin-left: 1rem;
  margin-right: 1rem;
  padding-bottom: 2rem;
  text-align: left;
}

.LogoContainer {
  width: 20%;
  margin-right: 1.5rem;
}

.Logo {
  width: 100%;
  height: auto;
  // border-radius: 50%;
  background-position: center;
  background-size: 75%;
  background-repeat: no-repeat;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}

.ApplyButtonContainer {
  width: 100%;
  max-width: 300px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: auto;
  button {
    background-color: $primaryColor;
    border-radius: 5px;
    padding: 5px;
    border: none;
    color: #fff;
    width: 100%;
    max-width: 80px;
    min-height: 30px;
    &:hover {
      cursor: pointer;
    }
    &:disabled {
      cursor: not-allowed;
      background-color: #8d8d8d;
    }
    &:nth-child(1) {
      background-color: #fff;
      border: 1px solid $primaryColor;
      color: $primaryColor;
    }
  }
}

@media screen and (max-width: 1200px) {
  .JobDetailsContainer {
    flex-direction: column;
    & > * {
      width: 100%;
      margin: 0;
      margin-bottom: 20px;
      box-sizing: border-box;
    }
  }
  .HeaderContainer {
    .JobMetaData {
      .JobHeader {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin: 0;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .JobDetailsContainer {
    padding: 30px;
    .JobContainer {
      padding: 20px;
    }
    .HeaderContainer {
      flex-direction: column;
      // padding: 0;
      padding-bottom: 20px;

      .LogoContainer {
        margin: 0 0 10px;
      }
      & > * {
        width: 100%;
      }
      .MetaData {
        p {
          margin: 0;
        }
        & > *,
        & > p {
          margin-bottom: 10px;
        }
      }
    }
    .SectionDesc {
      flex-direction: column;
      & > * {
        border: none;
        width: 100%;
        margin-bottom: 15px;
        box-sizing: border-box;
      }
      .Caption {
        color: #9c9c9c;
      }
    }
  }
}
