.Container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.ContainerFlex {
  margin: 32px 0;
  width: 45rem;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 0.5rem;
  padding: 0.5rem 16px 2rem 16px;
  background-color: rgba(255, 255, 255, 0.7);
  /* font-family: sans-serif; */
  font-size: 0.8rem;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.5);
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.FormTitle {
  font-size: 1.4rem;
  color: black;
  text-align: left;
  width: 90%;
}

.FormRow {
  display: flex;
  border-top: solid 0.1rem rgba(124, 124, 124, 0.4);
  padding-top: 2rem;
  justify-content: center;
}

.EditLabel {
  width: 90%;
}

.Inputs {
  display: flex;
  justify-content: space-between;
}

.RadioGroup {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: wrap;
  box-sizing: border-box;
}

.RadioLabel {
  font-size: 0.9rem;
  color: rgba(0, 0, 0, 0.54);
  font-weight: 400;
  margin-bottom: -0.5rem;
  margin-left: 0.3rem;
}

.RadioGroupInput {
  display: flex;
  align-items: center;
}

.RadioValue {
  margin-right: 0.2rem;
}

.RadioText {
  margin-top: 1rem;
  margin-right: 1rem;
  text-align: left;
  color: black;
  font-weight: 500;
}

.RadioTextGender {
  margin-top: 1rem;
  margin-right: 1rem;
  color: black;
  font-weight: 500;
}

.AgeWraper {
  width: 30%;
  justify-content: flex-end;
  box-sizing: border-box;
}

.AgeLabel {
  text-align: left;
  color: rgba(0, 0, 0, 0.54);
  font-size: 1rem;
  margin-bottom: 0.3rem;
  font-weight: 400;
}

.AgeGroup {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-right: 2.8rem;
}

.CandidateAmount {
  width: 30%;
}

.CheckInputs {
  display: flex;
  justify-content: space-between;
  margin-top: 0.5rem;
  margin-bottom: -1rem;
}

.CheckGroup {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.CheckValue {
  margin-right: 0.4rem;
  width: 1rem;
  height: 1rem;
}

.CheckText {
  margin-top: 1rem;
  margin-right: 8px;
  color: rgba(0, 0, 0, 1);
  font-weight: 400;
  text-align: left;
}

.FooterSection {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.PriceDescription {
  width: 50%;
}

.PriceHolder {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.PackageDesc {
  color: black;
  font-size: 0.9rem;
  border: 1px solid rgba(0, 0, 0, 0.2);
  text-align: left;
  font-weight: 500;
  padding: 10px;
}

.InputAmount {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70%;
  font-size: 0.9rem;
  color: black;
}

.Label {
  display: flex;
  margin: 0;
}

.DropDownDiv {
  width: 50%;
}

.EducationalInput {
  display: flex;
  justify-content: space-between;
  margin-top: 8px;
}

.IPK {
  width: 30%;
  margin-top: 2px;
}

.InputSlot {
  display: flex;
  overflow: hidden;
}

.PPHDiv {
  margin: 8px 0 16px 0;
  text-align: left;
  color: black;
  font-weight: 400;
}

.Question {
  margin: 0;
  width: 650px;
  line-height: 1.2rem;
  font-size: 0.9rem;
}

.Question span {
  font-weight: 700;
}

.CheckBox {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-align: start;
  margin-top: 16px;
}

.Box {
  width: 16px;
  height: 16px;
  margin: 0;
  margin-right: 10px;
}

.Text {
  margin: 0;
  font-size: 0.9rem;
}

.Footer {
  width: 89%;
  display: flex;
  justify-content: flex-end;
  margin-top: 32px;
}

@media (max-width: 768px) {
  .ContainerFlex {
    margin: 0;
    width: 100%;
    border-radius: 0;
  }

  .Question {
    width: auto;
    font-size: 0.8rem;
  }

  .Text {
    font-size: 0.8rem;
  }

  .InputAmount {
    font-size: 0.8rem;
  }

  .PackageDesc {
    font-size: 0.8rem;
  }
}

@media (max-width: 576px) {
  .ContainerFlex {
    padding: 0px 24px 32px 24px;
  }

  .FormTitle {
    width: 100%;
  }

  .Inputs {
    flex-direction: column;
  }

  .EditLabel {
    width: 100%;
  }

  .RadioGroup {
    width: 100%;
    order: 2;
  }

  .AgeWraper {
    width: 100%;
    order: 2;
  }

  .CandidateAmount {
    width: 100%;
    order: 1;
  }

  .EducationalInput {
    flex-direction: column;
  }

  .DropDownDiv {
    width: 100%;
  }

  .FooterSection {
    flex-direction: column;
  }

  .PriceDescription {
    width: 100%;
    order: 2;
  }

  .PriceHolder {
    width: 100%;
    order: 1;
  }

  .Question {
    width: auto;
  }
}

@media (max-width: 440px) {
}
