.Container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: rgb(250, 250, 250);
}

.ContainerFlex {
  margin-top: 2rem;
  width: 45rem;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 0.5rem;
  padding: 0.5rem 0 2rem 0;
  background-color: rgba(255, 255, 255, 0.7);
  font-family: sans-serif;
  font-size: 0.8rem;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.5);
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.FormTitle {
  font-size: 1.4rem;
  color: black;
  align-self: flex-start;
  margin-left: 2.5rem;
}

.FormRow {
  display: flex;
  border-top: solid 0.1rem rgba(124, 124, 124, 0.4);
  padding-top: 2rem;
}

.Inputs {
  display: flex;
  justify-content: space-between;
}

.RadioGroup {
  width: 12rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.RadioLabel {
  font-size: 0.9rem;
  color: rgba(0, 0, 0, 0.54);
  font-weight: 400;
  margin-bottom: -0.5rem;
  margin-left: 0.3rem;
}

.RadioGroupInput {
  display: flex;
  align-items: center;
}

.RadioValue {
  margin-right: 0.2rem;
}

.RadioText {
  margin-top: 1rem;
  margin-right: 1rem;
  text-align: left;
  color: black;
  font-weight: 500;
}

.RadioTextGender {
  width: 5rem;
  margin-top: 1rem;
  margin-right: 1rem;
  color: black;
  font-weight: 500;
}

.AgeLabel {
  text-align: left;
  color: rgba(0, 0, 0, 0.54);
  font-size: 1rem;
  margin-bottom: 0.3rem;
}

.AgeGroup {
  display: flex;
  justify-content: space-between;
  width: 10rem;
  margin-right: 3.5rem;
}

.CandidateAmount {
  margin-top: 1rem;
  width: 10rem;
  margin-right: 3.5rem;
}

.CheckInputs {
  display: flex;
  justify-content: space-between;
  margin-top: 0.5rem;
  margin-bottom: -1rem;
}

.CheckGroup {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.CheckValue {
  margin-right: 0.4rem;
  width: 1rem;
  height: 1rem;
}

.CheckText {
  margin-top: 1rem;
  margin-right: 1rem;
}

.Footer {
  width: 89%;
  display: flex;
  justify-content: flex-end;
  margin-top: 4rem;
}
