.Container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 6rem;
}

.ContainerFlex {
  width: 40rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: none;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  border-radius: 0.5rem;
  background-color: white;
  font-family: sans-serif;
  font-size: 0.8rem;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.5);
  padding: 0.5rem 3rem 2rem 3rem;
}

.FormTitle {
  font-size: 1.4rem;
  color: black;
  align-self: flex-start;
}

.FormRow {
  display: flex;
  flex-direction: column;
  border-top: solid 0.1rem rgba(0, 0, 0, 0.7);
  padding-top: 2rem;
  width: 100%;
}

.Period {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}

.CheckboxDiv {
  display: flex;
  text-align: center;
  margin-bottom: 1rem;
  margin-top: -1rem;
  margin-left: -0.6rem;
}

.CheckboxText {
  align-self: center;
  margin-left: 0.5rem;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-size: 1rem;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.8);
}

.Text {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-size: 0.7rem;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.54);
  line-height: 1;
  letter-spacing: 0.00938em;
  text-align: left;
  margin-bottom: 0.2rem;
}

.Footer {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-top: 2rem;
}

.Footer a {
  text-decoration: none;
}

@media (max-width: 768px) {
  .Container {
    padding: 32px 28px;
    margin-top: 0;
  }
}

@media (max-width: 576px) {
  .Container {
    padding: 0;
  }

  .ContainerFlex {
    padding: 0px 16px 10px 16px;
    border-radius: 0;
  }

  .Text {
    /* margin: 0; */
  }

  .Period {
    width: 100%;
    flex-direction: column;
    justify-content: flex-start;
  }

  .Footer {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-top: 8px;
  }
}
