.Container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 6rem;
}

.ContainerFlex {
  width: 40rem;
  height: 480px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: none;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  border-radius: 0.5rem;
  background-color: white;
  font-family: sans-serif;
  font-size: 0.8rem;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.5);
  padding: 0.5rem 3rem 2rem 3rem;
}

.FormTitle {
  font-size: 1.4rem;
  color: black;
  align-self: flex-start;
}

.FormRow {
  display: flex;
  flex-direction: column;
  border-top: solid 0.1rem rgba(0, 0, 0, 0.7);
  padding-top: 2rem;
  width: 100%;
}

.EditLabel {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  width: 100%;
}

.Footer {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-top: 2rem;
}

.Footer a {
  text-decoration: none;
}

@media (max-width: 768px) {
  .Container {
    padding: 32px 28px;
    margin-top: 0;
  }
}

@media (max-width: 576px) {
  .Container {
    padding: 0;
  }

  .ContainerFlex {
    width: 100vh;
    height: 480px;
    padding: 0px 16px 10px 16px;
    border-radius: 0;
  }

  .Footer {
    margin-top: 8px;
  }
}
