.Container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.ContainerFlex {
  width: 20rem;
  display: flex;
  flex-direction: column;
  border: none;
  border-radius: 1rem;
  background-color: white;
  /* font-family: sans-serif; */
  padding: 0rem 2rem 1rem 2rem;
  margin-top: 2rem;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.FormTitle {
  margin-bottom: 0rem;
  font-size: 1.7rem;
  font-weight: 700;
  align-self: flex-start;
}

.InputContainer {
  margin-top: 8px;
}

.Content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0rem 1.5rem;
}

.ChangeSign {
  margin-top: 1.5rem;
  border: none;
  color: blue;
  background-color: transparent;
  font-size: 0.8rem;
  font-weight: 700;
  cursor: pointer;
  outline: none;
}

.Sign {
  color: black;
  font-size: 0.8rem;
}

@media (max-width: 568px) {
  .ContainerFlex {
    border-radius: 0.2rem;
  }
}

@media (max-width: 400px) {
  .ContainerFlex {
    width: 70%;
    border-radius: 0.2rem;
  }
}
