.Container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.LoginContainer {
  width: 22rem;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0 1.5em 1em;
  border: none;
  border-radius: 1rem;
  background-color: white;
  overflow: hidden;
}

.InputBox {
  min-height: 70px;
}
.InputBox:nth-of-type(2) {
  margin-bottom: 15px;
}

.SubmitButton {
  outline: none;
  border-radius: 5px;
  background-color: #f79f35;
  color: #fff;
  padding: 0.6em;
  font-family: 'Lato', sans-serif;
  border: 3px solid #f79f35;
  font-size: 16px;
}

.SubmitButton:hover {
  cursor: pointer;
}
.SubmitButton:disabled {
  background-color: #8b8b8b;
  border: 3px solid #8b8b8b;

  cursor: not-allowed;
}

.AdditionalLinks {
  margin: 0;
  font-size: 12px;
}

.AdditionalLinks:nth-of-type(1) {
  margin-bottom: 10px;
}
.RegistrationSwitch,
.ForgotPasswordLink {
  text-decoration: none;
  font-style: italic;
  font-weight: 700;
  color: #f79f35;
}
.RegistrationSwitch:hover,
.ForgotPasswordLink:hover {
  cursor: pointer;
  text-shadow: 0 0 5px #f8c688;
}

.Footer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 1rem 0;
}
