.Container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.SelectorContainer {
  width: 22rem;
  height: 27rem;
  display: flex;
  flex-direction: column;
  border: none;
  border-radius: 1rem;
  background-color: white;

  overflow: hidden;
  justify-content: space-around;
  background-color: black;
}

.SelectorSection {
  display: flex;
  height: 50%;
  align-items: center;
  justify-content: center;
  border: 1px rgba(0, 0, 0, 0.1) solid;
  font-size: 1.3rem;
  letter-spacing: 0.5px;
  cursor: pointer;
  color: #f79f35;
  font-weight: 700;
}

.SelectorSection:hover {
  opacity: 0.98;
}
