.Container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.ContainerFlex {
  width: 22rem;
  height: auto;
  display: flex;
  flex-direction: column;
  border: none;
  border-radius: 1rem;
  background-color: white;

  overflow: hidden;
}

.Header {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0rem 1.5rem;
  margin-top: -0.4rem;
}

.FormTitle {
  margin-bottom: 16px;
  font-size: 1.7rem;
  font-weight: 700;
  align-self: flex-start;
}

.Content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0 1.5rem 1rem 1.5rem;
}

.InputBox {
  min-height: 70px;
}
.TosAgreement {
  margin-bottom: 15px;
}
.TosAgreement span {
  font-size: 12px;
}

.TosAgreement a {
  text-decoration: none;
  font-weight: 900;
  font-style: italic;
}
.TosAgreement a:hover,
.TosAgreement input:hover {
  cursor: pointer;
}

.RegisterButton {
  outline: none;
  border-radius: 5px;
  background-color: #f79f35;
  color: #fff;
  padding: 0.6em;
  font-family: 'Lato', sans-serif;
  border: 3px solid #f79f35;
  font-size: 16px;
}
.RegisterButton:hover {
  cursor: pointer;
}
.RegisterButton:disabled {
  background-color: #8b8b8b;
  border: 3px solid #8b8b8b;
  cursor: not-allowed;
}

.AdditionalLinks {
  margin: 0;
  font-size: 12px;
}

.LoginSwitch {
  font-style: italic;
  color: #f79f35;
  font-weight: 700;
}
.LoginSwitch:hover {
  cursor: pointer;
  text-shadow: 0 0 5px #f8c688;
}
