$primaryColor: #f79f35;

@mixin flexCenter($flexDirection: row, $justifyContent: center, $alignItems: center) {
  display: flex;
  flex-direction: $flexDirection;
  align-items: $alignItems;
  justify-content: $justifyContent;
}
@import '../../../shared/UI_Element/AddEditButton.module';
.CertificationsContainer {
  @include flexCenter(column, flex-start, flex-start);
  width: 100%;
  position: relative;
  .CertificationsHeaderTitle {
    @include flexCenter(row, flex-start, center);
    text-align: start;
    .CertificationsIcon {
      width: 30px;
      height: 30px;
      border-radius: 50%;
      border: 2px solid $primaryColor;
      margin-right: 10px;
      padding: 5px;

      img {
        width: 100%;
        max-width: 30px;
      }
    }
  }
  .CertificationsItem {
    @include flexCenter(column, flex-start, flex-start);
    padding-left: 50px;
    margin-bottom: 20px;
    position: relative;
    width: 100%;
    box-sizing: border-box;
    & > * {
      margin: 0 0 10px;
      text-align: start;
    }
    .CertificationPeriod {
      font-weight: 400;
    }
    .CertificationTitle {
      padding-left: 20px;
      font-style: italic;
    }
    .CertificationOrganization {
      padding-left: 20px;
      font-style: italic;
      font-weight: 400;
    }
    p {
      padding-left: 20px;
      line-height: 1.5em;
    }
  }
  .AddEditButton {
    top: 10px;
    right: 10px;
    &::after {
      content: 'Tambah Sertifikasi';
    }
    &:hover {
      max-width: 225px;
    }
    &.EditCertificationItem {
      right: 60px;
      &::after {
        content: 'Edit Sertifikasi';
      }
    }
    &.DeleteItem {
      & img {
        width: 100%;
        max-width: 40px;
      }
      &:hover {
        max-width: 125px;
      }
      &::after {
        content: 'Hapus';
      }
    }
  }
}
.DeleteButtonContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 200px;
  margin: auto;
  button {
    width: 100%;
    max-width: 70px;
    border-radius: 10px;
    padding: 5px;
    box-sizing: border-box;
    border: 2px solid #f79f35;
    &:hover {
      cursor: pointer;
    }
    &:nth-child(1) {
      background-color: #fff;
    }
    &:nth-child(2) {
      background-color: #f79f35;
      color: #fff;
    }
  }
}
