* {
  box-sizing: border-box;
}

/* p {
  margin: 0;
  padding: 0;
} */

.Container {
  padding: 24px 12px;
  /* background-color: white;
  width: 90%; */
}

.PageTitle {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 12px;
}

.ContainerFlex {
  /* padding: 16px; */
  display: flex;
  justify-content: 'flex-start';
  flex-wrap: wrap;
}

.CardHolder {
  width: 20%;
  padding: 12px 12px;
}

.CardHolder a {
  text-decoration: none;
  color: inherit;
}

.CardContainer {
  width: 100%;
  height: 310px;
  background-color: white;
  box-shadow: 0px 2px 2px 1px rgba(0, 0, 0, 0.3), 0px 1px 1px 0px rgba(0, 0, 0, 0.24),
    0px 1px 3px 0px rgba(0, 0, 0, 0.22);
  overflow: hidden;
  border-radius: 4px;
  padding: 0 8px;
}

.Header {
  height: 20%;
  text-align: left;
  padding: 10px;
}

.Title {
  font-weight: 600;
  letter-spacing: 0.05rem;
  margin: 0;
  padding: 0;
}

.Company {
  color: #f79f35;
  letter-spacing: 0.05rem;
  margin: 0;
  padding: 0;
  font-size: 0.9rem;
}

.Content {
  height: 70%;
}

.AvatarContainer {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  height: 100%;
  padding: 10px 0;
}

.Avatar {
  width: 100%;
  height: 100%;
}

.Footer {
  height: 10%;
  text-align: left;
  padding: 0 10px;
  line-height: 1.5rem;
}

.Status {
  margin: 0;
  padding: 0;
}

.DateApplied {
  font-size: 0.8rem;
  color: rgba(0, 0, 0, 0.5);
  margin: 0;
  padding: 0;
}

@media (max-width: 992px) {
  .CardHolder {
    width: 33.33%;
  }
}

@media (max-width: 768px) {
  .CardHolder {
    width: 50%;
  }
}

@media (max-width: 576px) {
  .CardHolder {
    width: 100%;
    padding: 10px 6px 32px 6px;
  }
}
