$primaryColor: #f79f35;

@mixin flexCenter($flexDirection: row, $justifyContent: center, $alignItems: center) {
  display: flex;
  flex-direction: $flexDirection;
  align-items: $alignItems;
  justify-content: $justifyContent;
}
@import '../../../shared//UI_Element/AddEditButton.module';

.WorkingExperiencesContainer {
  @include flexCenter(column, flex-start, flex-start);
  position: relative;
  width: 100%;
  .WorkingExperiencesHeaderTitle {
    @include flexCenter(row, flex-start, center);
    text-align: start;
    .WorkingExperiencesIcon {
      width: 30px;
      height: 30px;
      border-radius: 50%;
      border: 2px solid $primaryColor;
      padding: 5px;
      margin-right: 10px;
      img {
        width: 100%;
        max-width: 30px;
      }
    }
  }
  .WorkingExperiencesItem {
    @include flexCenter(column, flex-start, flex-start);
    width: 100%;
    box-sizing: border-box;
    position: relative;
    padding-left: 50px;
    margin-bottom: 20px;
    & > * {
      margin: 0 0 10px;
      text-align: start;
    }
    .ExperiencePeriod {
      font-weight: 400;
    }
    .ExperienceTitle {
      padding-left: 20px;
      font-style: italic;
    }
    p {
      padding-left: 20px;
      line-height: 1.5em;
    }
  }
  .AddEditButton {
    top: 10px;
    right: 10px;
    &::after {
      content: 'Tambah Pengalaman';
    }
    &:hover {
      max-width: 225px;
    }
    &.EditWorkingExpItem {
      right: 60px;
      &::after {
        content: 'Edit Pengalaman';
      }
    }
    &.DeleteItem {
      & img {
        width: 100%;
        max-width: 40px;
      }
      &:hover {
        max-width: 125px;
      }
      &::after {
        content: 'Hapus';
      }
    }
  }
}
.DeleteButtonContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 200px;
  margin: auto;
  button {
    width: 100%;
    max-width: 70px;
    border-radius: 10px;
    padding: 5px;
    box-sizing: border-box;
    border: 2px solid #f79f35;
    &:hover {
      cursor: pointer;
    }
    &:nth-child(1) {
      background-color: #fff;
    }
    &:nth-child(2) {
      background-color: #f79f35;
      color: #fff;
    }
  }
}

.WorkingExpModal {
  top: 18vh;
  max-width: 600px;
  margin-left: -300px;
  height: 60vh;
  overflow-y: auto;
}

@media screen and (max-width: 768px) {
  .WorkingExpModal {
    max-width: 90vw;
    margin-left: -45vw;
  }
}
