.Content {
  display: flex;
  padding: 2rem 5rem;
  align-items: center;
  background-color: white;
  justify-content: space-between;
}

.ContentLeft {
  width: 25%;
  height: 300px;
  border: solid 0.1rem black;
  margin-right: 5%;
}

.ContentRight {
  text-align: left;
  width: 65%;
  color: rgba(0, 0, 0, 0.7);
  font-weight: 500;
}

.Title {
  font-size: 2rem;
  font-weight: 400;
  color: rgba(0, 0, 0, 1);
}

@media (max-width: 992px) {
  .Content {
    padding: 5rem 2rem 2rem 2rem;
  }
}

@media (max-width: 576px) {
  .Content {
    padding: 1rem 2rem 2rem 2rem;
  }

  .ContentLeft {
    display: none;
  }

  .ContentRight {
    text-align: center;
    width: 100%;
    padding-bottom: 2rem;
    border-bottom: solid 0.1px rgba(0, 0, 0, 0.2);
  }
}
