.Content {
  display: flex;
  padding: 2rem 5rem;
  align-items: center;
  background-color: white;
}

.ContentRight {
  width: 30%;
  height: 25rem;
  border: solid 0.1rem black;
}

.ContentLeft {
  text-align: left;
  width: 65%;
  color: rgba(0, 0, 0, 0.7);
  margin-right: 5%;
  font-weight: 500;
}

.Title {
  font-size: 2rem;
  font-weight: 400;
  color: rgba(0, 0, 0, 1);
}
