.Container {
  background-color: #d7e2ff40;
  padding: 2rem 0;
}

.HeaderTitle {
  font-size: 2rem;
  font-weight: 500;
}

.Content {
  padding: 1rem 5rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.CardContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 14rem;
  height: 18rem;
  box-shadow: 0 2px 5px -1px rgba(0, 0, 0, 0.5);
  background-color: white;
  padding: 2rem;
  border-radius: 0.5rem;
}

.CardTop {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30%;
}

.Picture {
  border: solid 0.1rem black;
  height: 8rem;
  width: 8rem;
  border-radius: 100%;
}

.CardBottom {
  margin-top: 1rem;
  height: 60%;
  font-size: 0.9rem;
  color: rgba(0, 0, 0, 0.6);
  line-height: 1.618rem;
}

.Title {
  font-size: 1.1rem;
  font-weight: 500;
  color: black;
}
